<ngx-spinner></ngx-spinner>
<!--Essential Information-->
<c-card class="mb-3 mt-3">
    <c-card-body>
        <h5 cCardTitle>Essential Information</h5>
        <p cCardText>
            <strong>Name : </strong> {{pateint.patientEssentialInformation?.patientName?.lastName +','
            +pateint.patientEssentialInformation?.patientName?.firstName}}
            <br />
            <strong>Date Of Birth : </strong> {{pateint.patientEssentialInformation?.birthDate_str}}<br />
            <strong>Gender : </strong> {{pateint.patientEssentialInformation?.gender}}<br />
            <strong>Marital Status : </strong> {{pateint.patientEssentialInformation?.maritalStatus}}<br />
            <strong>Phone : </strong> {{pateint.patientEssentialInformation?.patientPhone?.phoneType}} :
            {{pateint.patientEssentialInformation?.patientPhone?.phone}}<br />
            <strong>Email : </strong> {{pateint.patientEssentialInformation?.email}}<br />
            <strong>Employment Status : </strong>
            {{pateint.patientEssentialInformation?.patientEmployment?.employmentStatus}}<br />
            <span *ngIf="pateint.patientEssentialInformation?.patientEmployment?.employmentStatus ==='Employed'">
                <strong>Employment Company : </strong>
                {{pateint.patientEssentialInformation?.patientEmployment?.employmentCompany}}<br />
            </span>
            <strong>Emergency Relation :
            </strong>{{pateint.patientEssentialInformation?.patientEmergencyContact?.emergencyRelation}}<br />
            <strong>Emergency Name :
            </strong>{{pateint.patientEssentialInformation?.patientEmergencyContact?.emergencyName}}<br />
            <strong>Emergency Phone :
            </strong>{{pateint.patientEssentialInformation?.patientEmergencyContact?.emergencyPhone}}<br />
        </p>
    </c-card-body>
</c-card>
<!--Address Information-->
<c-card class="mb-3 mt-3">
    <c-card-body>
        <h5 cCardTitle>Address Information</h5>
        <p cCardText>
            <strong>First Address : </strong> {{pateint.patientAddress?.firstAddress}}<br />
            <strong>Second Address : </strong> {{pateint.patientAddress?.secondAddress}}<br />
            <strong>City : </strong> {{pateint.patientAddress?.city}}<br />
            <strong>State : </strong> {{pateint.patientAddress?.state}}<br />
            <strong>Zip-Code : </strong> {{pateint.patientAddress?.zipCode}}<br />
        </p>
    </c-card-body>
</c-card>
<!--Medical Information-->
<c-card class="mb-3 mt-3">
    <c-card-body>
        <h5 cCardTitle>Medical Information</h5>
        <p cCardText>
            <span
                *ngIf="pateint.patientSource?.doctorSource?.doctorName && pateint.patientSource?.doctorSource?.doctorNPI">
                <strong>Referring Doctor : </strong> {{pateint.patientSource?.doctorSource?.doctorName}} -
                {{pateint.patientSource?.doctorSource?.doctorNPI}}<br />
            </span>
            <span *ngIf="pateint.patientSource?.entitySource?.organizationName">
                <strong>Referring Entity : </strong> {{pateint.patientSource?.entitySource?.organizationName}}<br />
            </span>
            <strong>Appointment Booking via
                : </strong> {{pateint.patientMedical?.appointmentBooking}}<br />
            <strong>Primary Doctor
                : </strong> {{pateint.patientMedical?.primaryDoctor}}<br />
            <strong>Sending Result to Primary Doctor
                : </strong> {{pateint.patientMedical?.familyResultSubmission?'Yes':'No'}}<br />

            <span *ngIf="pateint.patientMedical?.hasPatientPhysicalTherapy">
                <strong>Received physical therapy : </strong> {{pateint.patientMedical?.hasPatientPhysicalTherapy?
                'Yes':'No'}} <br />
                <li>Location : {{pateint.patientMedical?.patientPhysicalTherapy?.location}} </li>
                <li>Number Of Visits : {{pateint.patientMedical?.patientPhysicalTherapy?.numberOfVisit}}</li>
            </span>
        </p>
    </c-card-body>
</c-card>
<!--Medical History Information-->
<c-card class="mb-3 mt-3">
    <c-card-body>
        <h5 cCardTitle>Medical History Information</h5>
        <p cCardText>
            <strong>
                Height : </strong> {{pateint.patientMedical?.patientMedicalHistory?.height}} :
            {{pateint.patientMedical?.patientMedicalHistory?.heightUnit}}<br />
            <strong>
                Weight : </strong> {{pateint.patientMedical?.patientMedicalHistory?.weight}} :
            {{pateint.patientMedical?.patientMedicalHistory?.weightUnit}}<br />
            <strong>
                Reason for today’s evaluation : </strong>
            {{pateint.patientMedical?.patientMedicalHistory?.evaluationSubmission}} <br />
            <strong>
                List prescription or non-prescription medication : </strong>
            {{pateint.patientMedical?.patientMedicalHistory?.medicationPrescription}} <br />
            <strong>
                Conditions : </strong>
            <li *ngFor="let condition of pateint.patientMedical?.patientMedicalHistory?.patientCondition">
                {{condition }}
            </li>
            <br />
            <span *ngIf="pateint.patientMedical?.patientMedicalHistory?.scanningTest">
                <strong>
                    X-Ray : </strong> {{pateint.patientMedical?.patientMedicalHistory?.scanningTestValue}}
                <br />
            </span>
            <strong>
                Has MetalImplants : </strong>
            {{pateint.patientMedical?.patientMedicalHistory?.metalImplantation?'yes':'no'}} <br />
            <strong>
                Has Pacemaker : </strong>
            {{pateint.patientMedical?.patientMedicalHistory?.pacemaker?'yes':'no'}} <br />
            <strong>
                surgeries or any other conditions not listed above : </strong>
            {{pateint.patientMedical?.patientMedicalHistory?.surgeriesList}}
        </p>
    </c-card-body>
</c-card>
<!--Patient Insurance Information-->
<c-card class="mb-3 mt-3">
    <c-card-body>
        <h5 cCardTitle>Patient Insurance Information</h5>
        <p cCardText>
            <span *ngIf="this.pateint.patientInsurance?.patientInsuranceCompensationNoFault !== undefined">
                <strong>Patient Insurance Type : </strong> Worker's Compensation/No Fault <br />
                <strong> Injury/Auto-Accident: </strong>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.injuryType}} <br />
                <strong> Accident Date: </strong>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.accidentDate_str}} <br />
                <strong> Worker Status: </strong>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.workerStatus}} <br />
                <strong> Phone: </strong>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.phone}} <br />
                <strong> Fax: </strong>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.fax}} <br />
                <strong> Case Status: </strong>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.caseStatus}} <br />
                <strong> Adjuster: </strong> <br />
                <label> Name : </label>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.adjusterInfoName}} <br />
                <label> Phone : </label>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.adjusterInfoPhone}} <br />
                <strong> Attorney: </strong> <br />
                <label> Name : </label>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.attorneyInfoName}} <br />
                <label> Phone : </label>
                {{this.pateint.patientInsurance?.patientInsuranceCompensationNoFault?.attorneyInfoPhone}} <br />
            </span>
            <span *ngIf="this.pateint.patientInsurance?.patientCommercialInsurance !==undefined">
                <strong>Patient Insurance Type : </strong> Commercial Insurance <br />
                <strong> Member ID: </strong>
                {{this.pateint.patientInsurance?.patientCommercialInsurance?.memberId}} <br />
                <strong> Policy ID: </strong>
                {{this.pateint.patientInsurance?.patientCommercialInsurance?.policyId}} <br />
                <strong> Policy Holder relationship: </strong>
                {{this.pateint.patientInsurance?.patientCommercialInsurance?.relationship}} <br />
                <span *ngIf="this.pateint.patientInsurance?.patientCommercialInsurance?.relationship !== 'Self'">
                    <label> Name : </label>
                    {{this.pateint.patientInsurance?.patientCommercialInsurance?.patientRelationship?.patientRelationshipLastName
                    + ',' +
                    this.pateint.patientInsurance?.patientCommercialInsurance?.patientRelationship?.patientRelationshipFirstName
                    }} <br />
                    <label> Phone : </label>
                    {{this.pateint.patientInsurance?.patientCommercialInsurance?.patientRelationship?.patientRelationshipPhone}}
                    <br />
                    <label> Employer : </label>
                    {{this.pateint.patientInsurance?.patientCommercialInsurance?.patientRelationship?.employerName}}
                    <br />
                </span>
                <span *ngIf="this.pateint.patientInsurance?.patientCommercialInsurance?.hasSecondaryInsurance">
                    <strong>Secondary Insurance</strong> <br />
                    <label>InsuranceCompany : </label>
                    {{this.pateint.patientInsurance?.patientCommercialInsurance?.secondaryInsurance?.insuranceCompanyName}}<br />
                    <label>memberId : </label>
                    {{this.pateint.patientInsurance?.patientCommercialInsurance?.secondaryInsurance?.memberId}}<br />
                    <label>Name : </label>
                    {{this.pateint.patientInsurance?.patientCommercialInsurance?.secondaryInsurance?.policyHolderLastName
                    +',' +
                    this.pateint.patientInsurance?.patientCommercialInsurance?.secondaryInsurance?.policyHolderFirstName}}<br />
                    <span *ngIf="this.pateint.patientInsurance?.patientCommercialInsurance?.hasMedicareCoverage">
                        <strong>Medicare Coverage</strong> <br />
                        <label>Name : </label>
                        {{this.pateint.patientInsurance?.patientCommercialInsurance?.medicareCoverage?.employerLastName
                        +',' +
                        this.pateint.patientInsurance?.patientCommercialInsurance?.medicareCoverage?.employerFirstName}}<br />
                        <label>Phone : </label>
                        {{this.pateint.patientInsurance?.patientCommercialInsurance?.medicareCoverage?.employerPhone}}<br />
                    </span>
                </span>
            </span>
        </p>
    </c-card-body>
</c-card>
<!--Submit-->
<div [formGroup]="form">
    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton matStepperNext variant="outline" size="sm" type="button" (click)="submit()">Submit</button>
    </div>
</div>