<c-row>
    <form cForm [gutter]="{gy: 2, gx: 4}">
        <c-col xs="auto" class="mb-2">

            <div [ngClass]="{ 'form-group required':true }">
                <label for="fname" class="form-label">First Name</label>
                <input aria-label="First name" cFormControl
                    [(ngModel)]="patientEssentialInformation!.patientName!.firstName" name="fname" sizing="sm">
            </div>
        </c-col>

        <c-col xs="auto" class="mb-2">

            <div [ngClass]="{ 'form-group required':isRequiredField('middleName') }">
                <label for="mname" class="form-label">Middle Name</label>
                <input aria-label="Middle name" cFormControl
                    [(ngModel)]="patientEssentialInformation!.patientName!.middleName" name="mname" sizing="sm" />
            </div>

        </c-col>
        <c-col xs="auto" class="mb-2">

            <div [ngClass]="{ 'form-group required':true }">
                <label for="lname" class="form-label">Last Name</label>
                <input aria-label="Last name" cFormControl
                    [(ngModel)]="patientEssentialInformation!.patientName!.lastName" name="lname" sizing="sm" />
            </div>

        </c-col>
        <c-col xs="auto" class="mb-2">
            <div [ngClass]="{ 'form-group required':true }">
                <label for="dob" class="form-label">Date Of Birth</label>
                <c-date-picker closeOnSelect placeholder="Date Of Birth" size="sm" name="dob"
                    [(ngModel)]="patientEssentialInformation!.birthDate_date"
                    (dateChange)="checkAge($event)"></c-date-picker>
            </div>
        </c-col>
        <span *ngIf="isPatientUnderage">
            <c-col xs="auto" class="mb-2">
                <label for="lname" class="form-label">Guarantor First Name</label>
                <input aria-label="Guarantor First name" cFormControl name="g-lname" sizing="sm"
                    [(ngModel)]="patientGrantor.firstName" />
            </c-col>
            <c-col xs="auto" class="mb-2">
                <label for="lname" class="form-label">Guarantor Middle Name</label>
                <input aria-label="Guarantor Middle name" cFormControl name="g-lname" sizing="sm"
                    [(ngModel)]="patientGrantor.middleName" />
            </c-col>
            <c-col xs="auto" class="mb-2">
                <label for="lname" class="form-label">Guarantor Last Name</label>
                <input aria-label="Guarantor Last name" cFormControl name="g-lname" sizing="sm"
                    [(ngModel)]="patientGrantor.lastName" />
            </c-col>
            <label for="emergencyName" class="form-label">guarantor Relationship</label>
            <select cFormControl cSelect class="mb-2" sizing="sm" id="guarantor-relation" name="guarantor-relation"
                [(ngModel)]="patientGrantor.relation">
                <option value="" disabled selected>Select Patient Guarantor Relation</option>
                <option *ngFor="let relation of relationShip | keyvalue" [value]="relation.value">
                    {{relation.key}}
                </option>
            </select>
            <div class="mb-3">
                <label cLabel for="pIdfront">Guarantor ID Front</label>
                <input cFormControl id="g-pIdfront" accept="image/*" type="file" capture="environment" class="mb-1"
                    (change)="onImageUpload($event ,'guarantorIdfront')" />
            </div>
            <div class="mb-3">
                <label cLabel for="pIdback">Guarantor ID Back</label>
                <input cFormControl id="g-pIdback" accept="image/*" type="file" capture="environment" class="mb-1"
                    (change)="onImageUpload($event ,'guarantorIdback')" />

            </div>
        </span>
        <c-col xs="auto" class="mb-2">

            <div [ngClass]="{ 'form-group required':true }">
                <label for="gender" class="form-label">Gender</label>
                <select cSelect sizing="sm" name="gender" style="line-height: 15px;" cFormControl
                    [(ngModel)]="patientEssentialInformation!.gender">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="NonBinary">Non-binary</option>
                    <option value="Self_Describe">To self describe</option>
                    <option value="Not_Prefer">Prefer not to say</option>
                </select>
            </div>
        </c-col>

        <c-col xs="auto" class="mb-2">

            <div [ngClass]="{ 'form-group required':true }">
                <label for="maritalStatus" class="form-label">Marital Status</label>
                <select cSelect sizing="sm" style="line-height: 15px;" cFormControl
                    [(ngModel)]="patientEssentialInformation!.maritalStatus" name="maritalStatus">
                    <option value="">Select Marital Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Divorced">Divorced</option>
                </select>
            </div>

        </c-col>


        <c-col xs="12" class="mb-2">
            <div [ngClass]="{ 'form-group required':true }">
                <label for="phonetype" class="form-label">Phone</label>
                <select cSelect sizing="sm" style="line-height: 15px;" cFormControl
                    [(ngModel)]="patientEssentialInformation!.patientPhone!.phoneType" name="phonetype">
                    <option value="">Select Phone Type</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </c-col>
        <c-col xs="12" class="mb-2">
            <div [ngClass]="{ 'form-group required':true }">
                <c-input-group class="mb-3" sizing="sm">
                    <span cInputGroupText id="basic-addon1">+1</span>
                    <input numbers aria-label="Username" cFormControl
                        [ngModel]="patientEssentialInformation!.patientPhone!.phone | phone"
                        (ngModelChange)="patientEssentialInformation!.patientPhone!.phone=$event" name="phone"
                        maxlength="15" />
                </c-input-group>
            </div>
        </c-col>

        <c-col xs="12" class="mb-2">
            <div [ngClass]="{ 'form-group required':isRequiredField('email') }">
                <label for="email" class="form-label">Email</label>
                <input aria-describedby="basic-addon2" cFormControl sizing="sm"
                    [(ngModel)]="patientEssentialInformation!.email" name="email" />
            </div>
        </c-col>
        <c-col xs="auto" class="mb-2">
            <div [ngClass]="{ 'form-group required':true }">
                <label for="employmentStatus" class="form-label">Employment Status</label>
                <select cSelect sizing="sm" style="line-height: 15px;" cFormControl
                    [(ngModel)]="patientEssentialInformation!.patientEmployment!.employmentStatus"
                    name="employmentStatus">
                    <option value="">Select Employment status</option>
                    <option value="Employed">Employed</option>
                    <option value="Student">Student</option>
                    <option value="Retired">Retired</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </c-col>
        <c-col xs="auto" class="mb-2"
            *ngIf="patientEssentialInformation!.patientEmployment!.employmentStatus === 'Employed'">
            <input cFormControl [(ngModel)]="patientEssentialInformation!.patientEmployment!.employmentCompany"
                sizing="sm" name="employedcompnay" placeholder="Company" />
        </c-col>

        <div cRow>
            <div [ngClass]="{ 'form-group required':isRequiredField('emergencyContact') }">
                <c-col xs="12" class="mb-2">
                    <label for="emergencyName" class="form-label">Emergency Contact</label>
                    <select cFormControl cSelect class="mb-2" sizing="sm" id="EmergencyRelation"
                        name="EmergencyRelation"
                        [(ngModel)]="patientEssentialInformation!.patientEmergencyContact!.emergencyRelation">
                        <option value="" disabled selected>Select Patient Emergency contact Relation</option>
                        <option *ngFor="let relation of relationShip | keyvalue" [value]="relation.value">
                            {{relation.key}}
                        </option>
                    </select>
                </c-col>
            </div>
            <c-col xs="12" class="mb-2">
                <div [ngClass]="{ 'form-group required':isRequiredField('emergencyContact') }">
                    <input cFormControl
                        [(ngModel)]="patientEssentialInformation!.patientEmergencyContact!.emergencyName"
                        name="emergencyName" sizing="sm" placeholder="Emergency contact name" />
                </div>
            </c-col>
            <c-col xs="12" class="mb-2">
                <div [ngClass]="{ 'form-group required':isRequiredField('emergencyContact') }">
                    <c-input-group class="mb-3" sizing="sm">
                        <span cInputGroupText id="basic-addon1">+1</span>
                        <input numbers aria-label="" cFormControl
                            [ngModel]="patientEssentialInformation!.patientEmergencyContact!.emergencyPhone | phone"
                            (ngModelChange)="patientEssentialInformation!.patientEmergencyContact!.emergencyPhone=$event"
                            name="emergencyphone" maxlength="15" />
                    </c-input-group>
                </div>
            </c-col>
        </div>
    </form>
</c-row>