<ngx-spinner></ngx-spinner>
<c-row >
  <c-col class="mb-3"  style="float: right;">
    <c-button-group aria-label="Button outlined group with nested dropdown" role="group" size="sm">
      <button cButton color="primary" variant="outline" dispaly-input (click)="create()">Add New
        Clinic</button>
    </c-button-group>
  </c-col>
</c-row>
<c-row>
  <!-- Search For Clinics-->
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Clinic Search</strong> <small>From clinics list</small>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <c-row>
            <c-col class="mb-2" xs="12">
              <input aria-describedby="basic-addon1" aria-label="Username" cFormControl placeholder="Name"
                sizing="sm" />
            </c-col>
            <c-col class="mb-2" xs="12">
              <select cSelect>
                <option>Select Status</option>
                <option>Active</option>
                <option>In-Active</option>
              </select>
            </c-col>
            <c-col class="mb-2" xs="12">
              <c-date-range-picker></c-date-range-picker>
            </c-col>
            <c-col xs="12" class="text-center">
              <button cButton class="me-1" color="primary" style="width: 15%;">
                Search
              </button>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
  <!-- Add Clinic Card-->

</c-row>
<c-alert color="danger" *ngIf="errorMessage !== ''">{{ errorMessage }}</c-alert>
<table cTable>
  <thead cTableColor="light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Clinic Name</th>
      <th scope="col">Address</th>
      <th scope="col">Country</th>
      <th scope="col">Province/State</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clinic of clinics; index as i;">
      <td>{{clinic.id}}</td>
      <td>{{clinic.name}}</td>
      <td>{{clinic.address}}</td>
      <td>{{clinic.country}}</td>
      <td>{{clinic.ps}}</td>
      <td>{{clinic.zipcode}}</td>
      <td>
        <button cButton variant="outline" class="me-3" (click)="update(clinic.id)">
          <svg cIcon name="cilPen"></svg>
        </button>
        <!-- <button cButton variant="outline" (click)="deleteClinic(clinic.id)">
          <svg cIcon name="cilTrash"></svg>
        </button> -->
      </td>
    </tr>

  </tbody>
</table>