<ngx-spinner></ngx-spinner>
<c-row>
  <c-col xs="12">
    <h1>Clinics</h1>
  </c-col>
  <c-col xs="12">
    <div style="float: right;">
      <button cButton color="primary" variant="outline" (click)="showCreateClinic()">
        Create Clinic
      </button>
    </div>
  </c-col>
</c-row>
<c-alert color="danger" *ngIf="errorMessage !== ''">{{ errorMessage }}</c-alert>
<table cTable>
  <thead cTableColor="light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Clinic Name</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clinic of clinics; index as i;">
      <td>{{clinic.id}}</td>
      <td>{{clinic.name}}</td>
      <td>{{clinic.address}}</td>
      <td>
        <div class="btn-group" role="group">
          <button cButton variant="outline" (click)="showEditClinic(clinic.id)" size="sm">
            <svg cIcon name="cilPen"></svg>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<c-modal id="createClinic" [visible]="isCreateClinic" size="xl" backdrop="static">
  <c-modal-header>
    <h3 cModalTitle>Clinic Creation</h3>
    <button (click)="toggleCreateClinic()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <clinic-creation (changeVisibility)="changeClinicVisibility($event)" *ngIf="isCreateClinic"></clinic-creation>
  </c-modal-body>
</c-modal>

<c-modal id="editClinic" [visible]="isEditClinic" size="xl" backdrop="static">
  <c-modal-header>
    <h3 cModalTitle>Update Clinic</h3>
    <button (click)="toggleEditClinic()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <clinic-creation (changeVisibility)="changeClinicVisibility($event)" *ngIf="isEditClinic" [clinicId]="selectedClinicId"></clinic-creation>
  </c-modal-body>
</c-modal>