<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12">
        <h1>User List</h1>
    </c-col>
    <c-col xs="12">
        <div style="float: right;">
            <button cButton color="primary" variant="outline" (click)="create()">
                Create User
            </button>
        </div>
    </c-col>
</c-row>
<hr />
<table cTable *ngIf="users" small>
    <thead cTableColor="light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" style="width: 20%;">User ID</th>
            <th scope="col">Role</th>
            <th scope="col" style="width: 10%;">Action</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i;">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.uuid}}</td>
            <td>
                <c-badge color="primary" *ngIf="user.userRole === 'administrator'">{{user.userRole}}</c-badge>
                <c-badge color="warning" *ngIf="user.userRole === 'normal'">{{user.userRole}}</c-badge>
            </td>

            <td>
                <c-button-group aria-label="Basic example" role="group" size="sm">
                    <button cButton variant="outline" (click)="update(user.uuid)">
                        <svg cIcon name="cilPen"></svg>
                    </button>
                    <button cButton variant="outline" (click)="delete(user.uuid)"
                        [disabled]="isLoggedInUser(user.uuid)">
                        <svg cIcon name="cilTrash"></svg>
                    </button>
                </c-button-group>
            </td>
        </tr>

    </tbody>
</table>