<c-callout color="danger" *ngIf="isValidForm">
    Please all mandatory agreements <strong class="text-danger">marked with red star</strong> before navigating to next step
</c-callout>
<div [formGroup]="form" class="mt-3">
    <div formGroupName="agreement">
        <c-accordion [alwaysOpen]="false" [flush]="false" class="shadow">
            <c-accordion-item #item0="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                        <h5>Release of Information <span class="text-danger">*</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div *ngIf="releaseInformationParagraph" [innerHTML]="getReleaseInformationParagraph()"
                                class="accordion-body">
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="release" type="checkbox"
                                    formControlName="release-Information" />
                                <label cFormCheckLabel for="release">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>

                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item1="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
                        <h5>Financial Responsibility Agreement by Other than Patient’s Legal Representative <span
                                class="text-danger">*</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div [innerHTML]="getFinancialResponsibility()" class="accordion-body">
                            </div>
                        </c-col>
                        <c-col xs="12" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="financial-responsibility" type="checkbox"
                                    formControlName="financial-responsibility" />
                                <label cFormCheckLabel for="Financial">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item2="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item2.toggleItem()" [collapsed]="!item2.visible" cAccordionButton>
                        <h5>Financial Agreement <span class="text-danger">*</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getFinancialAgreement()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="financial-agreement" type="checkbox"
                                    formControlName="financial-agreement" />
                                <label cFormCheckLabel for="fagreement">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item3="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item3.toggleItem()" [collapsed]="!item3.visible" cAccordionButton>
                        <h5>Assignment of Insurance Beneﬁts <span class="text-danger">*</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">

                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getInsurance()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="Insurance-agreement" type="checkbox"
                                    formControlName="Insurance-agreement" />
                                <label cFormCheckLabel for="insurancebeneﬁts">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item4="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item4.toggleItem()" [collapsed]="!item4.visible" cAccordionButton>
                        <h5>HIPAA Acknowledgement <span class="text-danger">*</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getHIPAAAcknowledgement()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="hipaa-acknowledgement" type="checkbox"
                                    formControlName="hipaa-acknowledgement" />
                                <label cFormCheckLabel for="HIPAA">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item5="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item5.toggleItem()" [collapsed]="!item5.visible" cAccordionButton>
                        <h5>Cancellation and No-Show Policy <span class="text-danger">*</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getCancellationPolicy()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="cancellation-policy" type="checkbox"
                                    formControlName="cancellation-policy" />
                                <label cFormCheckLabel for="cancellation">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item6="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item6.toggleItem()" [collapsed]="!item6.visible" cAccordionButton>
                        <h5>Communication Attestation<span class="text-danger"> *</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getCommunicationAttestation()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="communication-attestation" type="checkbox"
                                    formControlName="communication-attestation" />
                                <label cFormCheckLabel for="cancellation">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item7="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item7.toggleItem()" [collapsed]="!item7.visible" cAccordionButton>
                        <h5>Authorization to Release / Obtain Information<span class="text-danger"> *</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getAuthorizationToReleaseObtainInformationParagraph()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="authorization" type="checkbox"
                                    formControlName="authorization" />
                                <label cFormCheckLabel for="cancellation">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item8="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item8.toggleItem()" [collapsed]="!item8.visible" cAccordionButton>
                        <h5>Consent to Treatment<span class="text-danger"> *</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getConsentToTreatmentParagraph()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="consent-treatment" type="checkbox"
                                    formControlName="consent-treatment" />
                                <label cFormCheckLabel for="cancellation">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item9="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item9.toggleItem()" [collapsed]="!item9.visible" cAccordionButton>
                        <h5>Notice of Privacy Practices<span class="text-danger"> *</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getNoticeOfPrivacyPracticesParagraph()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="notice-of-privacy-practices" type="checkbox"
                                    formControlName="notice-of-privacy-practices" />
                                <label cFormCheckLabel for="cancellation">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item10="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item10.toggleItem()" [collapsed]="!item10.visible" cAccordionButton>
                        <h5>Insurance Eligibility<span class="text-danger"> *</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getInsuranceEligibilityParagraph()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="insurance-eligibility" type="checkbox"
                                    formControlName="insurance-eligibility" />
                                <label cFormCheckLabel for="cancellation">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item11="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item11.toggleItem()" [collapsed]="!item11.visible" cAccordionButton>
                        <h5>Assignment & Release of Benefits<span class="text-danger"> *</span></h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getAssignmentReleaseOfBenefitsParagraph()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="assignment-release-of-benefits" type="checkbox"
                                    formControlName="assignment-release-of-benefits" />
                                <label cFormCheckLabel for="cancellation">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item12="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item12.toggleItem()" [collapsed]="!item12.visible" cAccordionButton>
                        <h5>Cupping Consent Form</h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">

                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getCupping()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="cupping-agreement" type="checkbox"
                                    formControlName="cupping-agreement" />
                                <label cFormCheckLabel for="Cupping">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item13="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item13.toggleItem()" [collapsed]="!item13.visible" cAccordionButton>
                        <h5>Pelvic Examination & Treatment Consent Form</h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">

                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getPelvic()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="pelvic-agreement" type="checkbox" formControlName="pelvic-agreement" />
                                <label cFormCheckLabel for="Pelvic">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
            <c-accordion-item #item14="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                    <button (click)="item14.toggleItem()" [collapsed]="!item14.visible" cAccordionButton>
                        <h5>Photo / Video Release Form</h5>
                    </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">

                    <c-row>
                        <c-col xs="auto">
                            <div class="accordion-body">
                                <span [innerHTML]="getPhotoVideo()"></span>
                            </div>
                        </c-col>
                        <c-col xs="auto" class="ms-3">
                            <c-form-check>
                                <input cFormCheckInput id="photo-video-agreement" type="checkbox"
                                    formControlName="photo-video-agreement" />
                                <label cFormCheckLabel for="photovideo">I accept</label>
                            </c-form-check>
                        </c-col>
                    </c-row>
                </ng-template>
            </c-accordion-item>
        </c-accordion>
    </div>
    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton variant="outline" size="sm" (click)="next()">Next</button>
    </div>
</div>