<ngx-spinner></ngx-spinner>
<c-callout color="danger" *ngIf="isValidForm">
    <span class="text-danger fw-bold">Please fill in all the required fields before create clinic</span>
</c-callout>
<form [formGroup]="clinicForm">
    <!--Clinic Name -->
    <c-row class="mb-2">
        <c-col xl="12">
            <label style="width: 150px;">Clinic Name <span class="text-danger">*</span></label>
        </c-col>
        <c-col xl="12">
            <input class="form-control" placeholder formControlName="clinic-name" sizing="sm" cFormControl [ngClass]="{'is-invalid': this.clinicForm.get('clinic-name')?.invalid
                && this.clinicForm.get('clinic-name ')?.touched}" maxlength="60">
        </c-col>
        <c-col xl=" 12">
            <div *ngIf="this.clinicForm.get('clinic-name')?.errors?.['required'] && 
        (this.clinicForm.get('clinic-name')?.dirty ||this.clinicForm.get('clinic-name')?.touched)"
                class="text-danger mx-1">
                Clinic Name is required
            </div>
            <div *ngIf="this.clinicForm.get('clinic-name')?.errors?.['noSpecialCharacters']" class="text-danger mx-1">
                Clinic Name cannot contain special characters.</div>
            <span *ngIf="validName === false">
                <label>
                    <span class="text-success">Typed clinic name is unique</span>
                    <svg cIcon name="cilCheck" cTextColor="success" size="lg"></svg>
                </label>
            </span>
            <span *ngIf="validName === true">
                <label>
                    {{validNameMessage}}
                    <svg cIcon name="cilReportSlash" cTextColor="danger" size="lg"></svg>
                </label>
            </span>
        </c-col>
    </c-row>
    <!--Address-->
    <c-card class="mb-2" [cBorder]="{top: {color: 'secondary', width: 3}}">
        <c-card-body>
            <h6 cCardSubtitle class="mb-2 text-medium-emphasis">Address</h6>
            <!--First Address-->
            <c-row class="mb-2">
                <c-col xl="12">
                    <label style="width: 150px;">First Address <span class="text-danger">*</span></label>
                </c-col>
                <c-col xl="12">
                    <input class="form-control" placeholder formControlName="first-address" sizing="sm" cFormControl
                        [ngClass]="{'is-invalid': this.clinicForm.get('first-address')?.invalid
                        && this.clinicForm.get('first-address')?.touched}" maxlength="60">
                </c-col>
                <c-col xl=" 12">
                    <div *ngIf="this.clinicForm.get('first-address')?.errors?.['required'] && 
                (this.clinicForm.get('first-address')?.dirty ||this.clinicForm.get('first-address')?.touched)"
                        class="text-danger mx-1">
                        first address is required
                    </div>
                    <div *ngIf="this.clinicForm.get('first-address')?.errors?.['noSpecialCharacters']"
                        class="text-danger mx-1">first address cannot contain special characters.</div>
                </c-col>
            </c-row>
            <!--Second Address-->
            <c-row class="mb-2">
                <c-col xl="12">
                    <label style="width: 150px;">Second Address</label>
                </c-col>
                <c-col xl="12">
                    <input class="form-control" placeholder formControlName="second-address" sizing="sm" cFormControl
                        [ngClass]="{'is-invalid': this.clinicForm.get('second-address')?.invalid
                        && this.clinicForm.get('second-address')?.touched}" maxlength="60">
                </c-col>
                <c-col xl=" 12">
                    <div *ngIf="this.clinicForm.get('second-address')?.errors?.['noSpecialCharacters']"
                        class="text-danger mx-1">second address cannot contain special characters.</div>
                </c-col>
            </c-row>
            <!--City-->
            <c-row class="mb-2">
                <c-col xl="12">
                    <label style="width: 150px;">City<span class="text-danger">*</span></label>
                </c-col>
                <c-col xl="12">
                    <input class="form-control" placeholder formControlName="city-address" sizing="sm" cFormControl
                        [ngClass]="{'is-invalid': this.clinicForm.get('city-address')?.invalid
                        && this.clinicForm.get('city-address')?.touched}" maxlength="60">
                </c-col>
                <c-col xl=" 12">
                    <div *ngIf="this.clinicForm.get('city-address')?.errors?.['required'] && 
                (this.clinicForm.get('city-address')?.dirty ||this.clinicForm.get('city-address')?.touched)"
                        class="text-danger mx-1">
                        City is required
                    </div>
                    <div *ngIf="this.clinicForm.get('city-address')?.errors?.['noSpecialCharacters']"
                        class="text-danger mx-1">City cannot contain special characters.</div>
                </c-col>
            </c-row>
            <!--state-->
            <c-row class="mb-2">
                <c-col xl="12">
                    <label style="width: 150px;">State<span class="text-danger">*</span></label>
                </c-col>
                <c-col xl="12">
                    <select cSelect sizing="sm" formControlName="state-address">
                        <option value="null">Select State</option>
                        <option *ngFor="let state of states" [value]="state">
                            {{state}}
                        </option>
                    </select>
                </c-col>
                <c-col xs="12">
                    <div *ngIf="!this.clinicForm.get('state-address')?.valid && 
                            (this.clinicForm.get('state-address')?.dirty ||this.clinicForm.get('state-address')?.touched)"
                        class="text-danger mx-1">
                        State is required
                    </div>
                </c-col>
            </c-row>
            <!--Zip Code-->
            <c-row class="mb-2">
                <c-col xs="12"><label style="width: 150px;">ZipCode <span class="text-danger">*</span></label></c-col>
                <c-col xs="12">
                    <input class="form-control" placeholder formControlName="zipcode-address" zipcode maxlength="10"
                        sizing="sm" cFormControl [ngClass]="{'is-invalid': this.clinicForm.get('zipcode-address')?.invalid
                        && this.clinicForm.get('zipcode-address')?.touched}">
                </c-col>
                <c-col xs="12">
                    <div *ngIf="this.clinicForm.get('zipcode-address')?.errors?.['required'] === true && 
                    (this.clinicForm.get('zipcode-address')?.dirty ||this.clinicForm.get('zipcode-address')?.touched)"
                        class="text-danger mx-1">
                        ZipCode Required
                    </div>
                    <div *ngIf="clinicForm.get('zipcode-address')?.errors?.['pattern']" class="text-danger mx-1">
                        Invalid ZipCode
                    </div>
                </c-col>
            </c-row>
        </c-card-body>
    </c-card>
    <!--status-->
    <c-row>
        <c-col xs="12">
            <c-form-check [switch]="true" class="mb-3" sizing="lg">
                <input cFormCheckInput type="checkbox" formControlName="clinic-status" />
                <label cFormCheckLabel>
                    <span [ngClass]="{ 'fw-bold':this.clinicForm.get('clinic-status')?.value}">Active</span>/<span
                        [ngClass]="{ 'fw-bold':!this.clinicForm.get('clinic-status')?.value }">In-Active</span>
                </label>
            </c-form-check>
        </c-col>
    </c-row>
    <div class="mt-3 text-center">
        <button cButton size="sm" variant="outline" class="mx-2" (click)="create()">
            <span *ngIf="!clinicId">Create</span>
            <span *ngIf="clinicId">Update</span>
        </button>
    </div>
</form>