<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12">
        <h1>Trust Devices</h1>
    </c-col>
    <c-col xs="12">
        <div class="clinic-header" style="float: right;">
            <button cButton color="primary" variant="outline" (click)="openGenertaeRequest()">+ Add Device</button>
        </div>
    </c-col>
</c-row>
<hr />

<div class="clinic-container" *ngIf="!isError ; else emptyMessage">
    <div class="device-list">
        <!-- Device Card -->
        <div class="device-card" *ngFor="let device of trustDevices | async">
            <div class="device-icon">📱</div>
            <div class="device-info">
                <div class="device-name">{{ device.deviceName }}</div>
                <div class="device-id">ID: {{ device.deviceId }}</div>
                <div class="device-date">Created At: {{ device.createdAt | date: 'MMM d, y' }}</div>
            </div>
            <div class="device-actions">
                <button class="remove-btn">
                    <svg cIcon name="cilTrash"></svg>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyMessage>
    <div class="empty-message">
        <h4>No devices found in this clinic.</h4>
        <img src="assets/images/empty-devices.svg" alt="No Devices" class="empty-img">
        <p>Please add new devices to start managing them here.</p>
    </div>
</ng-template>
<c-modal id="genertaeRequestModal" [visible]="genertaeRequestVisibility" size="xl" backdrop="static">
    <c-modal-header>
        <h3 cModalTitle>Add New Device</h3>
        <button (click)="toggleGenertaeRequest()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <generate-request *ngIf="genertaeRequestVisibility"></generate-request>
    </c-modal-body>
</c-modal>