<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Validation Fields List</h1>
    </c-col>
</c-row>
<hr />
<c-container [fluid]="true" class="mt-3">
    <c-row>
        <c-col xs="6" class="mb-3">
            <c-card>
                <c-card-header>
                    <h4>Basic Fields</h4>
                    <c-callout color="success" *ngIf="isBasicInfoReuqiredChanged">
                        Basic Info Fields updating successfully
                    </c-callout>
                </c-card-header>
                <c-card-body>
                    <form cForm *ngIf="patientFields">
                        <c-form-check sizing="lg" switch *ngIf="true">
                            <input [checked]="patientFields.essentialInformation!.firstName"
                                (change)="patientFields.essentialInformation!.firstName = !patientFields.essentialInformation!.firstName"
                                cFormCheckInput checked type="checkbox" />
                            <label cFormCheckLabel>First Name</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch *ngIf="true">
                            <input [checked]="patientFields.essentialInformation!.middleName"
                                (change)="patientFields.essentialInformation!.middleName = !patientFields.essentialInformation!.middleName"
                                cFormCheckInput checked type="checkbox" />
                            <label cFormCheckLabel>Middle Name</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch *ngIf="true">
                            <input [checked]="patientFields.essentialInformation!.lastName"
                                (change)="patientFields.essentialInformation!.lastName = !patientFields.essentialInformation!.lastName"
                                cFormCheckInput checked type="checkbox" />
                            <label cFormCheckLabel>Last Name</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.essentialInformation!.birthDate"
                                (change)="patientFields.essentialInformation!.birthDate = !patientFields.essentialInformation!.birthDate"
                                type="checkbox" />
                            <label cFormCheckLabel>Birth Date</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.essentialInformation!.gender"
                                (change)="patientFields.essentialInformation!.gender= !patientFields.essentialInformation!.gender"
                                type="checkbox" />
                            <label cFormCheckLabel>Gender</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.essentialInformation!.maritalStatus"
                                (change)="patientFields.essentialInformation!.maritalStatus= !patientFields.essentialInformation!.maritalStatus"
                                type="checkbox" />
                            <label cFormCheckLabel>MaritalStatus</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.essentialInformation!.phone"
                                (change)="patientFields.essentialInformation!.phone= !patientFields.essentialInformation!.phone"
                                type="checkbox" />
                            <label cFormCheckLabel>Phone</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.essentialInformation!.email"
                                (change)="patientFields.essentialInformation!.email= !patientFields.essentialInformation!.email"
                                type="checkbox" />
                            <label cFormCheckLabel>Email</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput cFormCheckInput [checked]="patientFields.essentialInformation!.patientId"
                                (change)="patientFields.essentialInformation!.patientId= !patientFields.essentialInformation!.patientId"
                                type="checkbox" />
                            <label cFormCheckLabel>Id</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput cFormCheckInput [checked]="patientFields.essentialInformation!.emergencyContact"
                                (change)="patientFields.essentialInformation!.emergencyContact= !patientFields.essentialInformation!.emergencyContact"
                                type="checkbox" />
                            <label cFormCheckLabel>Emergency Contact</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput cFormCheckInput [checked]="patientFields.addressInformation!.type"
                                (change)="patientFields.addressInformation!.type= !patientFields.addressInformation!.type"
                                type="checkbox" />
                            <label cFormCheckLabel>Address Type</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput cFormCheckInput [checked]="patientFields.addressInformation!.first"
                                (change)="patientFields.addressInformation!.first= !patientFields.addressInformation!.first"
                                type="checkbox" />
                            <label cFormCheckLabel>First Address</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput cFormCheckInput [checked]="patientFields.addressInformation!.second"
                                (change)="patientFields.addressInformation!.second= !patientFields.addressInformation!.second"
                                type="checkbox" />
                            <label cFormCheckLabel>Second Address</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput cFormCheckInput [checked]="patientFields.addressInformation!.country"
                                (change)="patientFields.addressInformation!.country= !patientFields.addressInformation!.country"
                                type="checkbox" />
                            <label cFormCheckLabel>Address-Country</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput cFormCheckInput [checked]="patientFields.addressInformation!.zipCode"
                                (change)="patientFields.addressInformation!.zipCode= !patientFields.addressInformation!.zipCode"
                                type="checkbox" />
                            <label cFormCheckLabel>Address-ZipCode</label>
                        </c-form-check>
                    </form>
                </c-card-body>
                <c-card-footer>
                    <button cButton color="primary" (click)="changeRequiredFields('basic')"
                        variant="outline">Save</button>
                </c-card-footer>
            </c-card>
        </c-col>
        <c-col xs="6" class="mb-3">
            <c-card>
                <c-card-header>
                    <h4>Insurance Fields</h4>
                    <c-callout color="success" *ngIf="isInsuranceInfoReuqiredChanged">
                        Insurance Info Fields updating successfully
                    </c-callout>
                </c-card-header>
                <c-card-body>
                    <select cSelect sizing="sm" style="line-height: 15px;" [(ngModel)]="workerType" class="mb-3">
                        <option value="">Select Worker Type</option>
                        <option *ngFor="let type of workersTypes" [value]="type.typeValue">
                            {{type.typeName}}
                        </option>
                    </select>
                    <div *ngIf="workerType === 'comp'">
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.relatedInjury"
                                (change)="patientFields.insuranceCompensationInformation!.relatedInjury = !patientFields.insuranceCompensationInformation!.relatedInjury"
                                type="checkbox" />
                            <label cFormCheckLabel>Worker Related Injury/Auto-Accident</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.accidentDate"
                                (change)="patientFields.insuranceCompensationInformation!.accidentDate = !patientFields.insuranceCompensationInformation!.accidentDate"
                                type="checkbox" />
                            <label cFormCheckLabel>Accident Date</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.workerStatus"
                                (change)="patientFields.insuranceCompensationInformation!.workerStatus = !patientFields.insuranceCompensationInformation!.workerStatus"
                                type="checkbox" />
                            <label cFormCheckLabel>Worker Status</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.address"
                                (change)="patientFields.insuranceCompensationInformation!.address = !patientFields.insuranceCompensationInformation!.address"
                                type="checkbox" />
                            <label cFormCheckLabel>Address</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.fax"
                                (change)="patientFields.insuranceCompensationInformation!.fax = !patientFields.insuranceCompensationInformation!.fax"
                                type="checkbox" />
                            <label cFormCheckLabel>Fax</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.insuranceName"
                                (change)="patientFields.insuranceCompensationInformation!.insuranceName = !patientFields.insuranceCompensationInformation!.insuranceName"
                                type="checkbox" />
                            <label cFormCheckLabel>Insurance Name</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.claimNumber"
                                (change)="patientFields.insuranceCompensationInformation!.claimNumber = !patientFields.insuranceCompensationInformation!.claimNumber"
                                type="checkbox" />
                            <label cFormCheckLabel>Claim Number/ WC Case Number</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.adjusterName"
                                (change)="patientFields.insuranceCompensationInformation!.adjusterName = !patientFields.insuranceCompensationInformation!.adjusterName"
                                type="checkbox" />
                            <label cFormCheckLabel>Adjuster Name</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.adjusterPhone"
                                (change)="patientFields.insuranceCompensationInformation!.adjusterPhone = !patientFields.insuranceCompensationInformation!.adjusterPhone"
                                type="checkbox" />
                            <label cFormCheckLabel>Adjuster Phone</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.attorneyName"
                                (change)="patientFields.insuranceCompensationInformation!.attorneyName = !patientFields.insuranceCompensationInformation!.attorneyName"
                                type="checkbox" />
                            <label cFormCheckLabel>Attorney Name</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.attorneyPhone"
                                (change)="patientFields.insuranceCompensationInformation!.attorneyPhone = !patientFields.insuranceCompensationInformation!.attorneyPhone"
                                type="checkbox" />
                            <label cFormCheckLabel>Attorney Phone</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCompensationInformation!.caseStatus"
                                (change)="patientFields.insuranceCompensationInformation!.caseStatus = !patientFields.insuranceCompensationInformation!.caseStatus"
                                type="checkbox" />
                            <label cFormCheckLabel>Case Status</label>
                        </c-form-check>
                    </div>
                    <div *ngIf="workerType === 'commercial'">
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.insuranceCompany"
                                (change)="patientFields.insuranceCommercialInformation!.insuranceCompany = !patientFields.insuranceCommercialInformation!.insuranceCompany"
                                type="checkbox" />
                            <label cFormCheckLabel>Insurance Company</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCommercialInformation!.memberId"
                                (change)="patientFields.insuranceCommercialInformation!.memberId = !patientFields.insuranceCommercialInformation!.memberId"
                                type="checkbox" />
                            <label cFormCheckLabel>Member Id</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCommercialInformation!.ploicyId"
                                (change)="patientFields.insuranceCommercialInformation!.ploicyId = !patientFields.insuranceCommercialInformation!.ploicyId"
                                type="checkbox" />
                            <label cFormCheckLabel>Policy Id</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.insuranceCommercialInformation!.relationship"
                                (change)="patientFields.insuranceCommercialInformation!.relationship = !patientFields.insuranceCommercialInformation!.relationship"
                                type="checkbox" />
                            <label cFormCheckLabel>relationship</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.secondryInsurance"
                                (change)="patientFields.insuranceCommercialInformation!.secondryInsurance = !patientFields.insuranceCommercialInformation!.secondryInsurance"
                                type="checkbox" />
                            <label cFormCheckLabel>secondryInsurance</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.policyHolderFirstName"
                                (change)="patientFields.insuranceCommercialInformation!.policyHolderFirstName = !patientFields.insuranceCommercialInformation!.policyHolderFirstName"
                                type="checkbox" />
                            <label cFormCheckLabel>policyHolderFirstName</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.policyHolderMiddleName"
                                (change)="patientFields.insuranceCommercialInformation!.policyHolderMiddleName = !patientFields.insuranceCommercialInformation!.policyHolderMiddleName"
                                type="checkbox" />
                            <label cFormCheckLabel>policyHolderMiddleName</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.policyHolderLastName"
                                (change)="patientFields.insuranceCommercialInformation!.policyHolderLastName = !patientFields.insuranceCommercialInformation!.policyHolderLastName"
                                type="checkbox" />
                            <label cFormCheckLabel>policyHolderLastName</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.secondryInsuranceCompany"
                                (change)="patientFields.insuranceCommercialInformation!.secondryInsuranceCompany = !patientFields.insuranceCommercialInformation!.secondryInsuranceCompany"
                                type="checkbox" />
                            <label cFormCheckLabel>secondryInsuranceCompany</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.secondryInsuranceMemberId"
                                (change)="patientFields.insuranceCommercialInformation!.secondryInsuranceMemberId = !patientFields.insuranceCommercialInformation!.secondryInsuranceMemberId"
                                type="checkbox" />
                            <label cFormCheckLabel>secondryInsuranceMemberId</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.medicareCoverage"
                                (change)="patientFields.insuranceCommercialInformation!.medicareCoverage = !patientFields.insuranceCommercialInformation!.medicareCoverage"
                                type="checkbox" />
                            <label cFormCheckLabel>medicareCoverage</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.employerFirstName"
                                (change)="patientFields.insuranceCommercialInformation!.employerFirstName = !patientFields.insuranceCommercialInformation!.employerFirstName"
                                type="checkbox" />
                            <label cFormCheckLabel>medicareCoverage-employerFirstName</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.employerMiddleName"
                                (change)="patientFields.insuranceCommercialInformation!.employerMiddleName = !patientFields.insuranceCommercialInformation!.employerMiddleName"
                                type="checkbox" />
                            <label cFormCheckLabel>medicareCoverage-employerMiddleName</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.employerLastName"
                                (change)="patientFields.insuranceCommercialInformation!.employerLastName = !patientFields.insuranceCommercialInformation!.employerLastName"
                                type="checkbox" />
                            <label cFormCheckLabel>medicareCoverage-employerLastName</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.insuranceCommercialInformation!.employerPhone"
                                (change)="patientFields.insuranceCommercialInformation!.employerPhone = !patientFields.insuranceCommercialInformation!.employerPhone"
                                type="checkbox" />
                            <label cFormCheckLabel>medicareCoverage-employerPhone</label>
                        </c-form-check>
                    </div>
                </c-card-body>
                <c-card-footer>
                    <button cButton color="primary" (click)="changeRequiredFields('insurance')"
                        variant="outline">Save</button>
                </c-card-footer>
            </c-card>

        </c-col>
        <c-col xs="12" class="mb-3">
            <c-card>
                <c-card-header>
                    <h4>Medical Fields</h4>
                    <c-callout color="success" *ngIf="isMedicalInfoReuqiredChanged">
                        Patient Medical Fields updating successfully
                    </c-callout>
                </c-card-header>
                <c-card-body>
                    <form cForm *ngIf="patientFields">
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalInformation!.recommendation"
                                (change)="patientFields.medicalInformation!.recommendation = !patientFields.medicalInformation!.recommendation"
                                type="checkbox" />
                            <label cFormCheckLabel>Did the doctor recommend us or referred you to us?</label>
                        </c-form-check>
                        <div *ngIf="patientFields.medicalInformation!.recommendation">
                            <c-form-check sizing="lg" switch>
                                <input cFormCheckInput
                                    [checked]="patientFields.medicalInformation!.recommendedDoctorName"
                                    (change)="patientFields.medicalInformation!.recommendedDoctorName = !patientFields.medicalInformation!.recommendedDoctorName"
                                    type="checkbox" />
                                <label cFormCheckLabel>Recommended Doctor Name</label>
                            </c-form-check>
                            <c-form-check sizing="lg" switch>
                                <input cFormCheckInput
                                    [checked]="patientFields.medicalInformation!.recommendedDoctorNpi"
                                    (change)="patientFields.medicalInformation!.recommendedDoctorNpi = !patientFields.medicalInformation!.recommendedDoctorNpi"
                                    type="checkbox" />
                                <label cFormCheckLabel>Recommended Doctor NPI</label>
                            </c-form-check>
                            <c-form-check sizing="lg" switch>
                                <input cFormCheckInput
                                    [checked]="patientFields.medicalInformation!.recommendedEntityName"
                                    (change)="patientFields.medicalInformation!.recommendedEntityName = !patientFields.medicalInformation!.recommendedEntityName"
                                    type="checkbox" />
                                <label cFormCheckLabel>Recommended Entity Name</label>
                            </c-form-check>
                        </div>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalInformation!.appointmentBooking"
                                (change)="patientFields.medicalInformation!.appointmentBooking = !patientFields.medicalInformation!.appointmentBooking"
                                type="checkbox" />
                            <label cFormCheckLabel>How did you book your appointment
                            </label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalInformation!.primaryDoctor"
                                (change)="patientFields.medicalInformation!.primaryDoctor = !patientFields.medicalInformation!.primaryDoctor"
                                type="checkbox" />
                            <label cFormCheckLabel>What is your primary doctor name</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalInformation!.resultSubmissionFamily"
                                (change)="patientFields.medicalInformation!.resultSubmissionFamily = !patientFields.medicalInformation!.resultSubmissionFamily"
                                type="checkbox" />
                            <label cFormCheckLabel>Would you like your results sent to your family doctor?</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalInformation!.physicalTherapy"
                                (change)="patientFields.medicalInformation!.physicalTherapy = !patientFields.medicalInformation!.physicalTherapy"
                                type="checkbox" />
                            <label cFormCheckLabel>Have you received physical therapy this year somewhere else?</label>
                        </c-form-check>
                        <div *ngIf="patientFields.medicalInformation!.physicalTherapy">
                            <c-form-check sizing="lg" switch>
                                <input cFormCheckInput
                                    [checked]="patientFields.medicalInformation!.physicalTherapyLocation"
                                    (change)="patientFields.medicalInformation!.physicalTherapyLocation = !patientFields.medicalInformation!.physicalTherapyLocation"
                                    type="checkbox" />
                                <label cFormCheckLabel>Physical Therapy Location</label>
                            </c-form-check>
                            <c-form-check sizing="lg" switch>
                                <input cFormCheckInput
                                    [checked]="patientFields.medicalInformation!.physicalTherapyNumberOfVisit"
                                    (change)="patientFields.medicalInformation!.physicalTherapyNumberOfVisit = !patientFields.medicalInformation!.physicalTherapyNumberOfVisit"
                                    type="checkbox" />
                                <label cFormCheckLabel>Physical Therapy Number of visits</label>
                            </c-form-check>
                        </div>
                    </form>
                </c-card-body>
                <c-card-footer>
                    <button cButton color="primary" (click)="changeRequiredFields('medical')"
                        variant="outline">Save</button>
                </c-card-footer>
            </c-card>
        </c-col>
        <c-col xs="12" class="mb-3">
            <c-card>
                <c-card-header>
                    <h4>Medical History Fields</h4>
                    <c-callout color="success" *ngIf="isMedicalInfoReuqiredChanged">
                        Medical History Fields updating successfully
                    </c-callout>
                </c-card-header>
                <c-card-body>
                    <form cForm *ngIf="patientFields">
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalHistoryInformation!.height"
                                (change)="patientFields.medicalHistoryInformation!.height = !patientFields.medicalHistoryInformation!.height"
                                type="checkbox" />
                            <label cFormCheckLabel>Height</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalHistoryInformation!.weight"
                                (change)="patientFields.medicalHistoryInformation!.weight = !patientFields.medicalHistoryInformation!.weight"
                                type="checkbox" />
                            <label cFormCheckLabel>Weight</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalHistoryInformation!.evaluationReason"
                                (change)="patientFields.medicalHistoryInformation!.evaluationReason = !patientFields.medicalHistoryInformation!.evaluationReason"
                                type="checkbox" />
                            <label cFormCheckLabel>What is your primary reason for today’s evaluation?</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.medicalHistoryInformation!.medicationPrescription"
                                (change)="patientFields.medicalHistoryInformation!.medicationPrescription = !patientFields.medicalHistoryInformation!.medicationPrescription"
                                type="checkbox" />
                            <label cFormCheckLabel>Please list any prescription or non-prescription medication you
                                are taking
                            </label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalHistoryInformation!.patientCondition"
                                (change)="patientFields.medicalHistoryInformation!.patientCondition = !patientFields.medicalHistoryInformation!.patientCondition"
                                type="checkbox" />
                            <label cFormCheckLabel>Please select each condition that you have been told you have (or
                                had)</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalHistoryInformation!.scanningTest"
                                (change)="patientFields.medicalHistoryInformation!.scanningTest = !patientFields.medicalHistoryInformation!.scanningTest"
                                type="checkbox" />
                            <label cFormCheckLabel>MRI, CT scan and X-Ray
                            </label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput
                                [checked]="patientFields.medicalHistoryInformation!.metalImplantation"
                                (change)="patientFields.medicalHistoryInformation!.metalImplantation = !patientFields.medicalHistoryInformation!.metalImplantation"
                                type="checkbox" />
                            <label cFormCheckLabel>Metal Implants</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalHistoryInformation!.pacemaker"
                                (change)="patientFields.medicalHistoryInformation!.pacemaker = !patientFields.medicalHistoryInformation!.pacemaker"
                                type="checkbox" />
                            <label cFormCheckLabel>Pacemaker</label>
                        </c-form-check>
                        <c-form-check sizing="lg" switch>
                            <input cFormCheckInput [checked]="patientFields.medicalHistoryInformation!.surgeriesList"
                                (change)="patientFields.medicalHistoryInformation!.surgeriesList = !patientFields.medicalHistoryInformation!.surgeriesList"
                                type="checkbox" />
                            <label cFormCheckLabel>Please list any Surgeries you may have had or any other conditions
                                not listed above</label>
                        </c-form-check>
                    </form>
                </c-card-body>
                <c-card-footer>
                    <button cButton color="primary" (click)="changeRequiredFields('medical')"
                        variant="outline">Save</button>
                </c-card-footer>
            </c-card>
        </c-col>

    </c-row>
</c-container>