<ngx-spinner></ngx-spinner>
<ng-container *ngIf="props$ | async as props" fluid="true">
    <c-smart-table [columnSorter]="{resetable: true }" [columns]="patientcolumns" [columnFilter]="true"
      [items]="(pauditData$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
      (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
      [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: true, responsive: true }"
      [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
      [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }"
      (sorterValueChange)="handleSorterValueChange($event)" cleaner header>
      <ng-template cTemplateId="tableDetails" let-item="item" >
        <div [visible]="this.details_visible[item._id]===true" cCollapse>
          <c-card class="rounded-0">
            <c-card-body>
              <p [innerHTML]="showClinicValues(item.entity)"></p>
              <p ><strong>Action has been taken at :</strong> {{item['actionDate']}}</p>
            </c-card-body>
            <c-card-footer>
                
            </c-card-footer>
          </c-card>
        </div>
      </ng-template>
      <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
        <td>
          <ng-container [ngSwitch]="columnName">
            <ng-container *ngSwitchCase="'actionType'">
                <c-badge [color]="getBadge(tdContent)">
                  {{(item[columnName])}}
                </c-badge>
              </ng-container>
              <ng-container *ngSwitchCase="'show'" class="py-2">
                <button (click)="toggleDetails(item['_id'])" cButton color="primary" size="sm" variant="outline">
                  Show
                </button>
              </ng-container>
            <ng-container *ngSwitchDefault>
              {{tdContent}}
            </ng-container>
          </ng-container>
        </td>
      </ng-template>
    </c-smart-table>
    <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
      (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
  </ng-container>