<c-row>
    <c-col xs="12" class="mb-3">
        <select cSelect sizing="sm" style="line-height: 15px;" cFormControl>
            <option>Select Address Type</option>
            <option value="1">Home</option>
            <option value="2">Work</option>
            <option value="3">Other</option>
        </select>
    </c-col>
    <c-col xs="12" class="mb-3">
        <input aria-label="First Address" cFormControl placeholder="First Address"  sizing="sm"/>
    </c-col>
    <c-col xs="12" class="mb-3">
        <input aria-label="First Address" cFormControl placeholder="Second Address"  sizing="sm"/>
    </c-col>
    <c-col xs="4" class="mb-3">
        <select cSelect sizing="sm" style="line-height: 15px;">
            <option>Select Country</option>
        </select>
    </c-col>
    <c-col xs="4" class="mb-3">
        <input cFormControl placeholder="Settlement"  sizing="sm"/>
    </c-col>
    <c-col xs="4" class="mb-3">
        <input cFormControl placeholder="Zip Code" sizing="sm"/>
    </c-col>
</c-row>