<c-row>
    <form cForm [gutter]="{gy: 2, gx: 4}">
        <c-col xs="auto" class="mb-2">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="insuranceCompanyName" class="form-label">Insurance Company</label>
                <select cSelect sizing="sm" name="insuranceCompanyName" style="line-height: 15px;" cFormControl
                    [(ngModel)]="model.insuranceCompanyName">
                    <option value="">Select</option>
                    <option value="comp1">comp1</option>
                </select>
            </div>
        </c-col>
        <c-col xs="auto" class="mb-2">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="memberId" class="form-label">Member ID</label>
                <input cFormControl [(ngModel)]="model.memberId" sizing="sm" name="ploicyId" />
            </div>
        </c-col>
        <c-col xs="auto" class="mb-2">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="ploicyId" class="form-label">Ploicy ID</label>
                <input cFormControl [(ngModel)]="model.ploicyId" sizing="sm" name="ploicyId" />
            </div>
        </c-col>
        <c-col xs="auto" class="mb-2">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="policyRelationship" class="form-label">Policyholders Relationship</label>
                <select cSelect sizing="sm" name="policyRelationship" style="line-height: 15px;" cFormControl
                    [(ngModel)]="model.policyRelationship">
                    <option value="">Select</option>
                    <option value="Self">Self</option>
                    <option value="Spouse">Spouse</option>
                    <option value="Child">Child</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </c-col>
        <!--policyRelationship : Spouse, Child , Other -->
        <c-col xs="auto" class="mb-2" *ngIf="model.policyRelationship !== 'Self' && model.policyRelationship !== ''">
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="policyRelationshipFirstName" class="form-label">Policy Holder’s First Name</label>
                    <input cFormControl [(ngModel)]="model.policyRelationshipFirstName" sizing="sm"
                        name="policyRelationshipFirstName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="policyRelationshipMiddleName" class="form-label">Policy Holder’s Middle Name</label>
                    <input cFormControl [(ngModel)]="model.policyRelationshipMiddleName" sizing="sm"
                        name="policyRelationshipMiddleName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="policyRelationshipLastName" class="form-label">Policy Holder’s Last Name</label>
                    <input cFormControl [(ngModel)]="model.policyRelationshipLastName" sizing="sm"
                        name="policyRelationshipLastName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="policyRelationshipPhone" class="form-label">Policy Holder’s Phone</label>
                    <input cFormControl [(ngModel)]="model.policyRelationshipPhone" sizing="sm"
                        name="policyRelationshipPhone" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="policyRelationshipEmployerName" class="form-label">Policy Holder’s Employer Name</label>
                    <input cFormControl [(ngModel)]="model.policyRelationshipEmployerName" sizing="sm"
                        name="policyRelationshipEmployerName" />
                </div>
            </c-col>
        </c-col>
        <c-col xs="auto" class="mb-2">
            <label cFormCheckLabel><strong>Do you have secondry insurance? </strong></label>
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="isSecondaryInsuranceChange('yes')" value="Yes"
                    name="secondaryInsurance" size="sm" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="isSecondaryInsuranceChange('no')" value="no"
                    name="secondaryInsurance" size="sm" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="auto" class="mb-2" *ngIf="isSecondaryInsurance === 'yes'">
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="secondaryInsurancePolicyHolderFirstName" class="form-label">Policy Holder’s Name</label>
                    <input cFormControl [(ngModel)]="model.secondaryInsurancePolicyHolderFirstName" sizing="sm"
                        name="secondaryInsurancePolicyHolderFirstName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="secondaryInsurancePolicyHolderMiddleName" class="form-label">Policy Holder’s Middle
                        Name</label>
                    <input cFormControl [(ngModel)]="model.secondaryInsurancePolicyHolderMiddleName" sizing="sm"
                        name="secondaryInsurancePolicyHolderMiddleName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="secondaryInsurancePolicyHolderLastName" class="form-label">Policy Holder’s Last
                        Name</label>
                    <input cFormControl [(ngModel)]="model.secondaryInsurancePolicyHolderLastName" sizing="sm"
                        name="secondaryInsurancePolicyHolderLastName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="secondaryInsuranceCompanyName" class="form-label">Insurance Company</label>
                    <input cFormControl [(ngModel)]="model.secondaryInsuranceCompanyName" sizing="sm"
                        name="secondaryInsuranceCompanyName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="secondaryInsuranceMemberId" class="form-label">Member ID</label>
                    <input cFormControl [(ngModel)]="model.secondaryInsuranceMemberId" sizing="sm"
                        name="secondaryInsuranceMemberId" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <label cFormCheckLabel><strong>Medicare Coverage?</strong></label>
                <c-form-check>
                    <input cFormCheckInput type="radio" (change)="isMedicareCoverageChange('yes')" value="Yes"
                        name="medicareCoverage" size="sm" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" (change)="isMedicareCoverageChange('no')" value="no"
                        name="medicareCoverage" size="sm" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </c-col>
            <c-col xs="auto" class="mb-1" *ngIf="isMedicareCoverage === 'yes'">
                <c-col xs="auto" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="secondaryInsurancePolicyHolderEmployerFirstName" class="form-label">Policy Holder’s
                            Employer First Name</label>
                        <input cFormControl [(ngModel)]="model.secondaryInsurancePolicyHolderEmployerFirstName"
                            sizing="sm" name="secondaryInsurancePolicyHolderEmployerFirstName" />
                    </div>
                </c-col>
                <c-col xs="auto" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="secondaryInsurancePolicyHolderEmployerMiddleName" class="form-label">Policy Holder’s
                            Employer Middle Name</label>
                        <input cFormControl [(ngModel)]="model.secondaryInsurancePolicyHolderEmployerMiddleName"
                            sizing="sm" name="secondaryInsurancePolicyHolderEmployerMiddleName" />
                    </div>
                </c-col>
                <c-col xs="auto" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="secondaryInsurancePolicyHolderEmployerLastName" class="form-label">Policy Holder’s
                            Employer Last Name</label>
                        <input cFormControl [(ngModel)]="model.secondaryInsurancePolicyHolderEmployerLastName"
                            sizing="sm" name="secondaryInsurancePolicyHolderEmployerLastName" />
                    </div>
                </c-col>
                <c-col xs="auto" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="secondaryInsurancePolicyHolderEmployerPhone" class="form-label">Policy Holder’s
                            Employer Phone</label>
                        <input cFormControl [(ngModel)]="model.secondaryInsurancePolicyHolderEmployerPhone" sizing="sm"
                            name="secondaryInsurancePolicyHolderEmployerPhone" />
                    </div>
                </c-col>
            </c-col>
        </c-col>
    </form>
</c-row>