<c-row>
  <c-col md="12" xl="3">
    <c-widget-stat-b [title]="'Clinic A'" class="mb-4" text="" value="75.9%">
      <br><br><br>
      <c-progress class="my-2" thin>
        <c-progress-bar [value]="75.9" color="success"></c-progress-bar>
      </c-progress>
    </c-widget-stat-b>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-b #widgetStatB1inv="cWidgetStatB" [title]="'Clinic B'" class="mb-4" color="primary" inverse text=""
      value="40.2%">
      <br><br><br>
      <c-progress [white]="widgetStatB1inv.inverse" class="my-2" thin>
        <c-progress-bar [value]="40.2"></c-progress-bar>
      </c-progress>
    </c-widget-stat-b>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-b #widgetStatB1inv="cWidgetStatB" [title]="'Clinic C'" class="mb-4" color="success" inverse text=""
      value="90.9%">
      <br><br><br>
      <c-progress [white]="widgetStatB1inv.inverse" class="my-2" thin>
        <c-progress-bar [value]="90.9"></c-progress-bar>
      </c-progress>
    </c-widget-stat-b>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-b #widgetStatB1inv="cWidgetStatB" [title]="'Clinic D'" class="mb-4" color="danger" inverse text=""
      value="20.9%">
      <br><br><br>
      <c-progress [white]="widgetStatB1inv.inverse" class="my-2" thin>
        <c-progress-bar [value]="20.9"></c-progress-bar>
      </c-progress>
    </c-widget-stat-b>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Traffic {{ "&" }} Sales</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-info py-1 px-3">
                  <div class="text-medium-emphasis small">total Patients</div>
                  <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfPatient}}</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">
                    Insured Patients : Compensation-NoFault
                  </div>
                  <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfCompensationNoFaultPatient}}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Monday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient" value="34"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger-gradient" value="78"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient" value="56"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger-gradient" value="94"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient" value="12"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger-gradient" value="67"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient" value="43"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger-gradient" value="91"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient" value="22"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger-gradient" value="73"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient" value="53"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger-gradient" value="82"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient" value="9"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger-gradient" value="69"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup><span class="badge badge-pill badge-sm bg-info">&nbsp;</span></sup>
                <span>New clients</span>
                &nbsp;&nbsp;
                <sup><span class="badge badge-pill badge-sm bg-danger">&nbsp;</span></sup>
                <span>Recurring clients</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">
                    Insured Patients : Commercial
                  </div>
                  <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfCommercialPatient}}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.genderContainer.maleNumber}})
                  {{dashboardDataContainer.genderContainer.malePercentage}}%
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning-gradient"
                    [value]="dashboardDataContainer.genderContainer.malePercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.genderContainer.femaleNumber}})
                  {{dashboardDataContainer.genderContainer.femalePercentage}}%
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning-gradient"
                    [value]="dashboardDataContainer.genderContainer.femalePercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>

            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFollow"></svg>
                <span>Doctor Source</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.doctorNumber}})
                    {{dashboardDataContainer.patientSourceContainer.doctorPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.doctorPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibZulip"></svg>
                <span>Zocdoc</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.zocdocNumber}})
                    {{dashboardDataContainer.patientSourceContainer.zocdocPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.zocdocPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
                <span>Social Media</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.socialMediaNumber}})
                    {{dashboardDataContainer.patientSourceContainer.socialMediaPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.socialMediaPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibInternetExplorer"></svg>
                <span>Website</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.websiteNumber}})
                    {{dashboardDataContainer.patientSourceContainer.websitePercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.websitePercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilTv"></svg>
                <span>TV</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.tvNumber}})
                    {{dashboardDataContainer.patientSourceContainer.tvPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.tvPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="divider d-flex justify-content-center">
              <button cButton class="text-muted btn-link" color="transparent" size="sm" type="button">
                <svg cIcon name="cil-options"></svg>
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>