<span *ngIf="!(noShow | async)">
  <ngx-spinner></ngx-spinner>
  <c-row>
    <c-col xs="3" class="mb-2">
      <c-dropdown [autoClose]="'outside'">
        <button cButton cDropdownToggle variant="outline">
          <svg cIcon name="cilFilter" *ngIf="!isFiltered"></svg>
          <svg cIcon name="cilFilterX" *ngIf="isFiltered"></svg>
        </button>
        <div cDropdownMenu [ngStyle]="{'min-width.px': 300}">
          <div class="px-2 py-1 mb-3">
            <label cLabel for="db_date_filter">Date Filter</label>
            <c-date-range-picker size="sm" id="db_date_filter" [ranges]="customRanges"
              (startDateChange)="startDateChange($event)" (endDateChange)="endDateChange($event)"></c-date-range-picker>
          </div>
          <div cDropdownDivider></div>
        </div>
      </c-dropdown>
    </c-col>
  </c-row>
  <c-row *ngIf="dashboardDataContainer">
    <c-col md="12" xl="3" *ngFor="let recipient of dashboardDataContainer.clinicsData | keyvalue">
      <c-widget-stat-a [title]="recipient.key" [color]="getColor(recipient.value[0])" class="mb-4" text="">
        <br><br><br>
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          {{recipient.value[0]}}
          <span class="fs-6 fw-normal">({{recipient.value[1]}}%)</span>
          <span class="fs-6 fw-normal">
            Patients <svg size="lg" cIcon name="cilDisabled"></svg>
          </span>
        </ng-template>
        <c-progress class="my-2" thin>
          <c-progress-bar [value]="recipient.value[1]" color="success"></c-progress-bar>
        </c-progress>
      </c-widget-stat-a>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs>
      <c-card class="mb-4" *ngIf="dashboardDataContainer">
        <c-card-header>Traffic {{ "&" }} Sales</c-card-header>
        <c-card-body>
          <c-row>
            <c-col md="6" xl="6" xs="12">
              <c-row>
                <c-col sm="6">
                  <div class="border-start border-start-4 border-start-info py-1 px-3">
                    <div class="text-medium-emphasis small">total Patients</div>
                    <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfPatient}}</div>
                  </div>
                </c-col>
                <c-col sm="6">
                  <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
                    <div class="text-medium-emphasis small">
                      Insured Patients : Compensation-NoFault
                    </div>
                    <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfCompensationNoFaultPatient}}</div>
                  </div>
                </c-col>
              </c-row>
  
              <hr class="mt-0" />
  
  
            </c-col>
  
            <c-col md="6" xl="6" xs="12">
              <c-row>
                <c-col sm="6">
                  <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                    <div class="text-medium-emphasis small">
                      Insured Patients : Commercial
                    </div>
                    <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfCommercialPatient}}</div>
                  </div>
                </c-col>
              </c-row>
  
              <hr class="mt-0" />
            </c-col>
            <c-col xs="12">
              <div class="progress-group mb-4">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                  <span>Male</span>
                  <span class="ms-auto font-semibold">
                    ({{dashboardDataContainer.genderContainer.maleNumber}})
                    {{dashboardDataContainer.genderContainer.malePercentage}}%
                  </span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="warning-gradient"
                      [value]="dashboardDataContainer.genderContainer.malePercentage"></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-5">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                  <span>Female</span>
                  <span class="ms-auto font-semibold">
                    ({{dashboardDataContainer.genderContainer.femaleNumber}})
                    {{dashboardDataContainer.genderContainer.femalePercentage}}%
                  </span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="warning-gradient"
                      [value]="dashboardDataContainer.genderContainer.femalePercentage"></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cilUserFollow"></svg>
                  <span>Doctor Source</span>
                  <span class="ms-auto font-semibold">
                    <span class="text-medium-emphasis small">
                      ({{dashboardDataContainer.patientSourceContainer.doctorNumber}})
                      {{dashboardDataContainer.patientSourceContainer.doctorPercentage}}%</span>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="success-gradient"
                      [value]="dashboardDataContainer.patientSourceContainer.doctorPercentage"></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cibZulip"></svg>
                  <span>Zocdoc</span>
                  <span class="ms-auto font-semibold">
                    <span class="text-medium-emphasis small">
                      ({{dashboardDataContainer.patientSourceContainer.zocdocNumber}})
                      {{dashboardDataContainer.patientSourceContainer.zocdocPercentage}}%</span>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="success-gradient"
                      [value]="dashboardDataContainer.patientSourceContainer.zocdocPercentage"></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
                  <span>Social Media</span>
                  <span class="ms-auto font-semibold">
                    <span class="text-medium-emphasis small">
                      ({{dashboardDataContainer.patientSourceContainer.socialMediaNumber}})
                      {{dashboardDataContainer.patientSourceContainer.socialMediaPercentage}}%</span>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="success-gradient"
                      [value]="dashboardDataContainer.patientSourceContainer.socialMediaPercentage"></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cibInternetExplorer"></svg>
                  <span>Website</span>
                  <span class="ms-auto font-semibold">
                    <span class="text-medium-emphasis small">
                      ({{dashboardDataContainer.patientSourceContainer.websiteNumber}})
                      {{dashboardDataContainer.patientSourceContainer.websitePercentage}}%</span>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="success-gradient"
                      [value]="dashboardDataContainer.patientSourceContainer.websitePercentage"></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cilTv"></svg>
                  <span>TV</span>
                  <span class="ms-auto font-semibold">
                    <span class="text-medium-emphasis small">
                      ({{dashboardDataContainer.patientSourceContainer.tvNumber}})
                      {{dashboardDataContainer.patientSourceContainer.tvPercentage}}%</span>
                  </span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="success-gradient"
                      [value]="dashboardDataContainer.patientSourceContainer.tvPercentage"></c-progress-bar>
                  </c-progress>
                </div>
              </div>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</span>
<span *ngIf="noShow | async">
  <div class="container error-container">
    <h1 class="display-4">Oops, something went wrong!</h1>
    <p class="lead">We apologize for the inconvenience.</p>
    <p>May be you don't assign to any clinic or your clinic has been deactivated. Please contact the administrator</p>
    <a  class="btn btn-primary" (click)="logout()">Logout</a>
</div>
</span>
