<ngx-spinner></ngx-spinner>
<c-row *ngIf="dashboardDataContainer">
  <c-col md="12" xl="3" *ngFor="let recipient of dashboardDataContainer.clinicsData | keyvalue">
    <c-widget-stat-a [title]="recipient.key" [color]="getColor(recipient.value[0])" class="mb-4" text="">
      <br><br><br>
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{recipient.value[0]}}
        <span class="fs-6 fw-normal">({{recipient.value[1]}}%)</span>
        <span class="fs-6 fw-normal">
          Patients <svg size="lg" cIcon name="cilDisabled"></svg>
        </span>
      </ng-template>
      <c-progress class="my-2" thin>
        <c-progress-bar [value]="recipient.value[1]" color="success"></c-progress-bar>
      </c-progress>
    </c-widget-stat-a>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4" *ngIf="dashboardDataContainer">
      <c-card-header>Traffic {{ "&" }} Sales</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-info py-1 px-3">
                  <div class="text-medium-emphasis small">total Patients</div>
                  <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfPatient}}</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">
                    Insured Patients : Compensation-NoFault
                  </div>
                  <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfCompensationNoFaultPatient}}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.weekCounterContainer.numberOfMonday}})
                  {{dashboardDataContainer.weekCounterContainer.numberOfMondayPercentage}}%
                </span>
              </div>
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Monday</span>
              </div>

              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient"
                    [value]="dashboardDataContainer.weekCounterContainer.numberOfMondayPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.weekCounterContainer.numberOfTuesday}})
                  {{dashboardDataContainer.weekCounterContainer.numberOfTuesdayPercentage}}%
                </span>
              </div>
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient"
                    [value]="dashboardDataContainer.weekCounterContainer.numberOfTuesdayPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.weekCounterContainer.numberOfWednesday}})
                  {{dashboardDataContainer.weekCounterContainer.numberOfWednesdayPercentage}}%
                </span>
              </div>
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient"
                    [value]="dashboardDataContainer.weekCounterContainer.numberOfWednesdayPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.weekCounterContainer.numberOfThursday}})
                  {{dashboardDataContainer.weekCounterContainer.numberOfThursdayPercentage}}%
                </span>
              </div>
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient"
                    [value]="dashboardDataContainer.weekCounterContainer.numberOfThursdayPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.weekCounterContainer.numberOfFriday}})
                  {{dashboardDataContainer.weekCounterContainer.numberOfFridayPercentage}}%
                </span>
              </div>
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient"
                    [value]="dashboardDataContainer.weekCounterContainer.numberOfFridayPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.weekCounterContainer.numberOfSaturday}})
                  {{dashboardDataContainer.weekCounterContainer.numberOfSaturdayPercentage}}%
                </span>
              </div>
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient"
                    [value]="dashboardDataContainer.weekCounterContainer.numberOfSaturdayPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.weekCounterContainer.numberOfSunday}})
                  {{dashboardDataContainer.weekCounterContainer.numberOfSundayPercentage}}%
                </span>
              </div>
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info-gradient"
                    [value]="dashboardDataContainer.weekCounterContainer.numberOfSundayPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">
                    Insured Patients : Commercial
                  </div>
                  <div class="fs-5 fw-semibold">{{dashboardDataContainer.totalNumberOfCommercialPatient}}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.genderContainer.maleNumber}})
                  {{dashboardDataContainer.genderContainer.malePercentage}}%
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning-gradient"
                    [value]="dashboardDataContainer.genderContainer.malePercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">
                  ({{dashboardDataContainer.genderContainer.femaleNumber}})
                  {{dashboardDataContainer.genderContainer.femalePercentage}}%
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning-gradient"
                    [value]="dashboardDataContainer.genderContainer.femalePercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>

            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFollow"></svg>
                <span>Doctor Source</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.doctorNumber}})
                    {{dashboardDataContainer.patientSourceContainer.doctorPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.doctorPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibZulip"></svg>
                <span>Zocdoc</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.zocdocNumber}})
                    {{dashboardDataContainer.patientSourceContainer.zocdocPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.zocdocPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
                <span>Social Media</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.socialMediaNumber}})
                    {{dashboardDataContainer.patientSourceContainer.socialMediaPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.socialMediaPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibInternetExplorer"></svg>
                <span>Website</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.websiteNumber}})
                    {{dashboardDataContainer.patientSourceContainer.websitePercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.websitePercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilTv"></svg>
                <span>TV</span>
                <span class="ms-auto font-semibold">
                  <span class="text-medium-emphasis small">
                    ({{dashboardDataContainer.patientSourceContainer.tvNumber}})
                    {{dashboardDataContainer.patientSourceContainer.tvPercentage}}%</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success-gradient"
                    [value]="dashboardDataContainer.patientSourceContainer.tvPercentage"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="divider d-flex justify-content-center">
              <button cButton class="text-muted btn-link" color="transparent" size="sm" type="button">
                <svg cIcon name="cil-options"></svg>
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>