<c-card class="mb-2">
    <c-card-header>
        <form cForm>
            <div [ngClass]="{ 'form-group required':true }">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Did the primary doctor/Referring doctor refer you to us or
                        mention our clinics?</strong>
                </label>
            </div>
        </form>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="referringDoctorQChange('yes')" name="doctorRecommendation"
                    size="sm" [checked]="isReferringDoctor ==='yes'" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="referringDoctorQChange('no')" name="doctorRecommendation"
                    size="sm" [checked]="isReferringDoctor ==='no'" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="12" *ngIf="isReferringDoctor ==='yes'">
            <form cForm>
                <div [ngClass]="{ 'form-group required':true }" class="mb-1">
                    <label for="doctorname" class="form-label">Doctor Name</label>
                    <ng-autocomplete [data]="doctors" [searchKeyword]="keyword" placeholder="Enter Doctor Name"
                        *ngIf="patientSource!.doctorSource" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                        [(ngModel)]="selectedDoctor" [ngModelOptions]="{standalone: true}">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
                <div [ngClass]="{ 'form-group required':true }" class="mb-1">
                    <label for="doctornpi" class="form-label">Doctor NPI</label>
                    <input numbers cFormControl placeholder="Doctor NPI" sizing="sm" *ngIf="patientSource!.doctorSource"
                        [(ngModel)]="patientSource!.doctorSource.doctorNPI" name="doctornpi" maxlength="10" />
                </div>
            </form>
        </c-col>
        <c-col xs="12" *ngIf="isReferringDoctor ==='no'">
            <form cForm>
                <div [ngClass]="{ 'form-group required':true }" class="mb-1">
                    <select cSelect sizing="sm" style="line-height: 15px;" cFormControl
                        [(ngModel)]="patientSource!.entitySource!.organizationName" name="entityname">
                        <option value="">Select</option>
                        <option *ngFor="let entity of entityValues" [value]="entity.entityValue"
                            [selected]="entity.selected">{{entity.entityName}}</option>
                    </select>
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <div [ngClass]="{ 'form-group required':true }">
            <label for="dsds" class="form-label">
                <strong style="font-size: medium;">How did you book your appointment?</strong>
            </label>
        </div>
    </c-card-header>
    <c-card-body>
        <c-col xs="12">
            <form cForm>
                <div [ngClass]="{ 'form-group required':true }" class="mb-1">
                    <select cSelect sizing="sm" style="line-height: 15px;" cFormControl
                        [(ngModel)]="patientMedical!.appointmentBooking" name="appointmentbooking">
                        <option value="">Select Appointment Booking</option>
                        <option value="Website">Website</option>
                        <option value="Zocdoc">Zocdoc</option>
                        <option value="Calls">Calls</option>
                        <option value="Walkin">Walk-in</option>
                    </select>
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <div [ngClass]="{ 'form-group required':isRequiredField('primaryDoctor') }">
            <label for="dsds" class="form-label">
                <strong style="font-size: medium;">What is your primary doctor name?</strong>
            </label>
        </div>
    </c-card-header>
    <c-card-body>
        <c-col xs="12">
            <form cForm>
                <input cFormControl placeholder="Primary Doctor Name" sizing="sm"
                    [(ngModel)]="patientMedical!.primaryDoctor" name="primarydoctor" />
            </form>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <form cForm>
            <div [ngClass]="{ 'form-group required':true }">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Would you like your results sent to your family doctor?</strong>
                </label>
            </div>
        </form>
    </c-card-header>
    <c-card-body>
        <c-col xs="4">
            <c-col xs="12" class="mb-1">
                <c-form-check>
                    <input cFormCheckInput type="radio" name="resultsfamily" size="sm"
                        (change)="resultsfamilyQChange('yes')" [checked]="isfamilyResultSubmission === 'yes'" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" name="resultsfamily" size="sm"
                        (change)="resultsfamilyQChange('no')" [checked]="isfamilyResultSubmission === 'no'" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </c-col>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <form cForm>
            <div [ngClass]="{ 'form-group required':true }">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Have you received physical therapy this year somewhere
                        else?</strong>
                </label>
            </div>
        </form>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="physicalTherapyQChange('yes')" name="physicaltherapy"
                    size="sm" [checked]="ispatientPhysicalTherapy === 'yes'" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" value="no" (change)="physicalTherapyQChange('no')"
                    name="physicaltherapy" size="sm" [checked]="ispatientPhysicalTherapy === 'no'" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="4" *ngIf="patientMedical!.patientPhysicalTherapy">
            <form cForm>
                <div [ngClass]="{ 'form-group required':true }" class="mb-1">
                    <input cFormControl placeholder="Where" sizing="sm"
                        [(ngModel)]="patientMedical?.patientPhysicalTherapy!.location" name="physicalTherapywhere" />
                </div>
                <div [ngClass]="{ 'form-group required':true }" class="mb-1">
                    <input cFormControl type="number" name="physicalTherapywheretimes" min="1" sizing="sm"
                        placeholder="How many visits?"
                        [(ngModel)]="patientMedical?.patientPhysicalTherapy!.numberOfVisit"
                        name="physicalTherapywheretimes" />
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>