<c-card class="mb-2">
    <c-card-header>
        <h6>Did the doctor recommend us or referred you to us?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="referringDoctorQChange('yes')" value="Yes"
                    name="flexRadioDefault" size="sm" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="referringDoctorQChange('no')" value="no"
                    name="flexRadioDefault" size="sm" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="4" *ngIf="isReferringDoctor === 'yes'">
            <form cForm>
                <div class="mb-1">
                    <input cFormControl id="exampleFormControlInput1" placeholder="Doctor Name" sizing="sm" />
                </div>
                <div class="mb-1">
                    <input cFormControl id="exampleFormControlInput1" placeholder="Doctor NPI" sizing="sm" />
                </div>
                <div class="mb-1">
                    <input cFormControl id="exampleFormControlInput1" placeholder="Fax #" sizing="sm" />
                </div>
                <div class="mb-1">
                    <input cFormControl id="exampleFormControlInput1" placeholder="Address" sizing="sm" />
                </div>
            </form>
        </c-col>
        <c-col xs="4" *ngIf="isReferringDoctor === 'no'">
            <select cSelect sizing="sm" style="line-height: 15px;" cFormControl>
                <option>Google ads</option>
                <option>Zocdoc</option>
                <option>Social media</option>
                <option>Flyers</option>
                <option>Mailed flyers</option>
                <option>Friend/Family member</option>
                <option>TV</option>
                <option>Ads screen</option>
                <option>I've had PT here before</option>
                <option>Direct mail</option>
                <option>Website</option>
                <option>Other</option>
            </select>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>How did you book your appointment?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="4">
            <select cSelect sizing="sm" style="line-height: 15px;" cFormControl>
                <option>Website</option>
                <option>Zocdoc</option>
                <option>Calls</option>
            </select>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>What is your primary doctor name?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="4">
            <input cFormControl placeholder="Primary Doctor Name" sizing="sm" />
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Would you like your results sent to your family doctor?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="4">
            <c-col xs="12" class="mb-1">
                <c-form-check>
                    <input cFormCheckInput type="radio" value="Yes" name="resultsfamily" size="sm" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" value="no" name="resultsfamily" size="sm" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </c-col>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Have you received physical therapy this year somewhere else?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" value="Yes" (change)="physicalTherapyQChange('yes')" name="physicaltherapy" size="sm" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" value="no" (change)="physicalTherapyQChange('no')" name="physicaltherapy" size="sm" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="4" *ngIf="isphysicalTherapy === 'yes'">
            <form cForm>
                <div class="mb-1">
                    <input cFormControl id="physicalTherapywhere" placeholder="Where" sizing="sm" />
                </div>
                <div class="mb-1">
                    <input cFormControl type="number" id="physicalTherapywheretimes" min="1" sizing="sm"  placeholder="How many visits"/>
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>