<c-card class="mb-2">
    <c-card-header>
        <form cForm>
            <div [ngClass]="{ 'form-group required':isRequiredField('recommendation') }">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">The doctor recommend us or referred you to us?</strong>
                </label>
            </div>
        </form>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="referringDoctorQChange('yes')" name="doctorRecommendation"
                    size="sm" [checked]="isReferringDoctor === 'yes'" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="referringDoctorQChange('no')" name="doctorRecommendation"
                    size="sm" [checked]="isReferringDoctor === 'no'" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="4" *ngIf="isReferringDoctor === 'yes'">
            <form cForm>
                <div [ngClass]="{ 'form-group required':isRequiredField('recommendedDoctorName') }" class="mb-1">
                    <label for="doctorname" class="form-label">Doctor Name</label>
                    <input cFormControl [(ngModel)]="medicalQuestionnaireInfo.recommendationDoctor.name"
                        *ngIf="medicalQuestionnaireInfo.recommendationDoctor" name="doctorname"
                        placeholder="Doctor Name" sizing="sm" />
                </div>
                <div [ngClass]="{ 'form-group required':isRequiredField('recommendedDoctorNpi') }" class="mb-1">
                    <label for="doctornpi" class="form-label">Doctor NPI</label>
                    <input cFormControl placeholder="Doctor NPI" sizing="sm"
                        *ngIf="medicalQuestionnaireInfo.recommendationDoctor"
                        [(ngModel)]="medicalQuestionnaireInfo.recommendationDoctor.npi" name="doctornpi" />
                </div>
                <div [ngClass]="{ 'form-group required':isRequiredField('recommendedDoctorFax') }" class="mb-1">
                    <label for="doctorfax" class="form-label">Doctor Fax</label>
                    <input cFormControl placeholder="Fax #" sizing="sm"
                        *ngIf="medicalQuestionnaireInfo.recommendationDoctor"
                        [(ngModel)]="medicalQuestionnaireInfo.recommendationDoctor.fax" name="doctorfax" />
                </div>
                <app-address *ngIf="medicalQuestionnaireInfo.recommendationDoctor"
                    [pateintAddressInfo]="medicalQuestionnaireInfo.recommendationDoctor.doctorAddress"
                    [requiredFields]="addressInfoRequired"></app-address>
            </form>
        </c-col>
        <c-col xs="4" *ngIf="isReferringDoctor === 'no'">
            <form cForm>
                <div [ngClass]="{ 'form-group required':isRequiredField('recommendedEntityName') }" class="mb-1">
                    <label for="entityname" class="form-label">Entity Name</label>
                    <select cSelect sizing="sm" style="line-height: 15px;" cFormControl
                        *ngIf="medicalQuestionnaireInfo.recommendationEntity"
                        [(ngModel)]="medicalQuestionnaireInfo.recommendationEntity.name" name="entityname">
                        <option>Select</option>
                        <option value="Google ads">Google ads</option>
                        <option value="Zocdoc">Zocdoc</option>
                        <option value="Social media">Social media</option>
                        <option value="Flyers">Flyers</option>
                        <option value="Mailed flyers">Mailed flyers</option>
                        <option value="Friend/Family member">Friend/Family member</option>
                        <option value="TV">TV</option>
                        <option value="Ads screen">Ads screen</option>
                        <option value="I've had PT here before">I've had PT here before</option>
                        <option value="Direct mail">Direct mail</option>
                        <option value="Website">Website</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>How did you book your appointment?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="4">
            <form cForm>
                <div [ngClass]="{ 'form-group required':isRequiredField('appointmentBooking') }" class="mb-1">
                    <label for="appointmentbooking" class="form-label">Appointment Booking</label>
                    <select cSelect sizing="sm" style="line-height: 15px;" cFormControl
                        [(ngModel)]="medicalQuestionnaireInfo.appointmentBooking" name="appointmentbooking">
                        <option value="">Select</option>
                        <option value="Website">Website</option>
                        <option value="Zocdoc">Zocdoc</option>
                        <option value="Calls">Calls</option>
                    </select>
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>What is your primary doctor name?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="4">
            <form cForm>
                <div [ngClass]="{ 'form-group required':isRequiredField('primaryDoctor') }" class="mb-1">
                    <label for="primarydoctor" class="form-label">Primary Doctor Name</label>
                    <input cFormControl placeholder="Primary Doctor Name" sizing="sm"
                        [(ngModel)]="medicalQuestionnaireInfo.primaryDoctor" name="primarydoctor" />
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <form cForm>
            <div [ngClass]="{ 'form-group required':isRequiredField('resultSubmissionFamily') }">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Would you like your results sent to your family doctor?</strong>
                </label>
            </div>
        </form>
    </c-card-header>
    <c-card-body>
        <c-col xs="4">
            <c-col xs="12" class="mb-1">
                <c-form-check>
                    <input cFormCheckInput type="radio" name="resultsfamily" size="sm"
                        (change)="resultsfamilyQChange('yes')" [checked]="isfamilyResultSubmission === 'yes'" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check>
                    <input cFormCheckInput type="radio" name="resultsfamily" size="sm"
                        (change)="resultsfamilyQChange('no')" [checked]="isfamilyResultSubmission === 'no'" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
            </c-col>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <form cForm>
            <div [ngClass]="{ 'form-group required':isRequiredField('physicalTherapy') }">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Have you received physical therapy this year somewhere
                        else?</strong>
                </label>
            </div>
        </form>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="physicalTherapyQChange('yes')" name="physicaltherapy"
                    size="sm" [checked]="isphysicalTherapy === 'yes'" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" value="no" (change)="physicalTherapyQChange('no')"
                    name="physicaltherapy" size="sm" [checked]="isphysicalTherapy === 'no'" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="4" *ngIf="isphysicalTherapy === 'yes'">
            <form cForm>
                <div [ngClass]="{ 'form-group required':isRequiredField('physicalTherapyLocation') }" class="mb-1">
                    <label for="physicalTherapywhere" class="form-label">Where </label>
                    <input cFormControl placeholder="Where" sizing="sm" *ngIf="medicalQuestionnaireInfo.physicalTherapy"
                        [(ngModel)]="medicalQuestionnaireInfo.physicalTherapy.location" name="physicalTherapywhere" />
                </div>
                <div [ngClass]="{ 'form-group required':isRequiredField('physicalTherapyNumberOfVisit') }" class="mb-1">
                    <label for="physicalTherapywheretimes" class="form-label">How many visits</label>
                    <input cFormControl type="number" name="physicalTherapywheretimes" min="1" sizing="sm"
                        placeholder="How many visits" *ngIf="medicalQuestionnaireInfo.physicalTherapy"
                        [(ngModel)]="medicalQuestionnaireInfo.physicalTherapy.numberOfVisit"
                        name="physicalTherapywheretimes" />
                </div>
            </form>
        </c-col>
    </c-card-body>
</c-card>