<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="mail-seccess section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12">
				<!-- Error Inner -->
				<div class="success-inner">
					<h1><i class="fa fa-envelope"></i><span>Your Information Was Created Successfully</span></h1>
					<p>Thank you for completing your digital intake form! We appreciate your cooperation and look forward to providing you with the best possible care.</p>
				</div>
			</div>
		</div>
	</div>
</section>