<c-row> 
    <form cForm [gutter]="{gy: 2, gx: 4}">
        <c-col xs="auto" class="mb-3">
            <div [ngClass]="{ 'form-group required':isRequiredField('type') }">
                <label for="addresstype" class="form-label">Address Type</label>
                <select cSelect sizing="sm" style="line-height: 15px;" [(ngModel)]="pateintAddressInfo.type"
                    name="addresstype" cFormControl>
                    <option value="">Select Address Type</option>
                    <option value="Home">Home</option>
                    <option value="Work">Work</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </c-col>
        <c-col xs="auto" class="mb-3">
            <div [ngClass]="{ 'form-group required':isRequiredField('first') }">
                <label for="firstaddress" class="form-label">First Address</label>
                <input aria-label="First Address" cFormControl placeholder="First Address" sizing="sm"
                    [(ngModel)]="pateintAddressInfo.first" name="firstaddress" />
            </div>
        </c-col>
        <c-col xs="auto" class="mb-3">
            <div [ngClass]="{ 'form-group required':isRequiredField('second') }">
                <label for="secondaddress" class="form-label">Second Address</label>
                <input aria-label="First Address" cFormControl placeholder="Second Address" sizing="sm"
                    [(ngModel)]="pateintAddressInfo.second" name="secondaddress" />
            </div>
        </c-col>
        <c-col xs="auto" class="mb-3">
            <div [ngClass]="{ 'form-group required':isRequiredField('country') }">
                <label for="country" class="form-label">County</label>
                <select cSelect sizing="sm" style="line-height: 15px;" [(ngModel)]="pateintAddressInfo.country"
                    name="country">
                    <option value="">Select County</option>
                    <option *ngFor="let country of countries" [value]="country.name">
                        {{country.name}}
                    </option>
                </select>
            </div>
        </c-col>
        <c-col xs="auto" class="mb-3" *ngIf="pateintAddressInfo.country === 'United States of America'">
            <label for="state" class="form-label">Country</label>
            <select cSelect sizing="sm" style="line-height: 15px;" [(ngModel)]="pateintAddressInfo.state"
                name="state">
                <option value="">Select State</option>
                <option *ngFor="let state of states" [value]="state">
                    {{state}}
                </option>
            </select>
        </c-col>
        <c-col xs="auto" class="mb-3" *ngIf="pateintAddressInfo.country !== 'United States of America' && (pateintAddressInfo.country !== '')">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="Province" class="form-label">Province</label>
                <input  cFormControl placeholder="Province" sizing="sm"
                    [(ngModel)]="pateintAddressInfo.province" name="Province" />
            </div>
        </c-col>
        <c-col xs="auto" class="mb-3">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="city" class="form-label">city</label>
                <input  cFormControl placeholder="City" sizing="sm"
                    [(ngModel)]="pateintAddressInfo.city" name="city" />
            </div>
        </c-col>
        <c-col xs="auto" class="mb-3">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="zipcode" class="form-label">ZipCode</label>
                <input zipcode cFormControl placeholder="Zipcode" sizing="sm"
                    [(ngModel)]="pateintAddressInfo.zipCode" name="zipcode" />
            </div>
        </c-col>
    </form>
</c-row>