<c-card class="mb-3">
    <c-card-header>
        <h6>Is it, worker's comp/No fault?</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="workerCompNoFaultQChange('yes')" value="Yes"
                    name="flexRadioDefault" size="sm" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="workerCompNoFaultQChange('no')" value="no"
                    name="flexRadioDefault" size="sm" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
    </c-card-body>
</c-card>
<c-row class="justify-content-center">
    <c-col xs="6">
        <c-card class="mb-3" *ngIf="isWorkerCompNoFault === 'yes'">
            <c-card-body>
                <app-worker-comp></app-worker-comp>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row class="justify-content-center">
    <c-col xs="6">
        <c-card class="mb-3" *ngIf="isWorkerCompNoFault === 'no'">
            <c-card-body>
                <app-worker-not-comp></app-worker-not-comp>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>