<c-row>
    <c-col xs="12">
        <h1>Patient Information</h1>
    </c-col>
</c-row>
<hr />
<c-progress class="mb-3">
    <c-progress-bar animated #progressBar [value]="progressValue">{{progressValue}}%</c-progress-bar>
</c-progress>
<c-alert [dismissible]="false" color="danger" fade *ngIf="validator && !validator.isValid ">
    <div class="col-12" *ngIf="validator.missing.length > 0">
        <div class="row">
            <div class="col-12">
                <h4>Missing Fields</h4>
            </div>
        </div>
        <div class="col-12" *ngFor="let propertyValidator of validator.missing">
            {{propertyValidator.property}}
        </div>
    </div>
    <div class="col-12" *ngIf="validator.wrong.length > 0">
        <div class="row">
            <div class="col-12">
                <h4>Wrong Fields</h4>
            </div>
        </div>
        <div class="col-12" *ngFor="let propertyValidator of validator.wrong">
            {{propertyValidator.property}}
            {{propertyValidator.message}}
        </div>
    </div>
</c-alert>
<c-row class="justify-content-center">
    <c-col xs="auto">
        <c-card *ngIf="counter === 1 " class="mb-3 ustify-content-center">
            <c-card-header>
                <h3>{{cards[0].name}}</h3>
            </c-card-header>
            <c-card-body>
                <app-essential-info *ngIf="patientFields"
                    [requiredFields]="patientFields.basicInfo"></app-essential-info>
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="next('basic')" size="sm" color="primary" variant="outline" class="auto me-1">
                    next
                </button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="justify-content-center">
    <c-col xs="8">
        <c-card *ngIf="counter === 2 " class="mb-3">
            <c-card-header>
                <h3>{{cards[1].name}}</h3>
            </c-card-header>
            <c-card-body>
                <app-address-information *ngIf="patientFields"
                    [requiredFields]="patientFields.addressInfoRequired"></app-address-information>
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="back()" size="sm" color="primary" variant="outline" class="auto me-1">
                    Back
                </button>
                <button cButton (click)="next('address')" size="sm" color="primary" variant="outline"
                    class="auto me-1">next</button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="justify-content-center">
    <c-col xs="8">
        <c-card *ngIf="counter === 3 " class="mb-3">
            <c-card-header>
                <h3>{{cards[2].name}}</h3>
            </c-card-header>
            <c-card-body>
                <app-medical-info *ngIf="patientFields"
                    [requiredFields]="patientFields.medicalInfoRequired"></app-medical-info>
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="back()" size="sm" color="primary" variant="outline"
                    class="auto me-1">Back</button>
                <button cButton (click)="next('medical')" size="sm" color="primary" variant="outline"
                    class="auto me-1">next</button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="justify-content-center">
    <c-col xs="8">
        <c-card *ngIf="counter === 4 " class="mb-3">
            <c-card-header>
                <h3>{{cards[3].name}}</h3>
            </c-card-header>
            <c-card-body>
                <app-medical-history-information *ngIf="patientFields"
                    [requiredFields]="patientFields.medicalHistoryInfoRequired"></app-medical-history-information>
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="back()" size="sm" color="primary" variant="outline"
                    class="auto me-1">Back</button>
                <button cButton (click)="next('medical-history')" size="sm" color="primary" variant="outline"
                    class="auto me-1">next</button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>

<c-row class="justify-content-center">
    <c-col xs="8">
        <c-card *ngIf="counter === 5 " class="mb-3">
            <c-card-header>
                <h3>{{cards[4].name}}</h3>
            </c-card-header>
            <c-card-body>
                <app-insurance-information *ngIf="patientFields"
                    [insurnaceCompInfoRequired]="patientFields.insurnaceCompInfoRequired"
                    [insurnacecommerialInfoRequired]="patientFields.insurnacecommerialInfoRequired"></app-insurance-information>
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="back()" size="sm" color="primary" variant="outline"
                    class="auto me-1">Back</button>
                <button cButton (click)="next('insurance')" size="sm" color="primary" variant="outline"
                    class="auto me-1">next</button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="justify-content-center">
    <c-col xs="8">
        <c-card *ngIf="counter === 6 " class="mb-3">
            <c-card-header>
                <h3>{{cards[5].name}}</h3>
            </c-card-header>
            <c-card-body>
                <app-upload-photo></app-upload-photo>
            </c-card-body>
            <c-card-footer>
                <button cButton (click)="back()" size="sm" color="primary" variant="outline"
                    class="auto me-1">Back</button>
                <button cButton (click)="next('upload')" size="sm" color="primary" variant="outline"
                    class="auto me-1">next</button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="justify-content-center">

    <c-card *ngIf="counter === 7 " class="mb-3">
        <c-card-header>
            <h3>{{cards[6].name}}</h3>
        </c-card-header>
        <c-card-body>
            <app-aggreements></app-aggreements>
        </c-card-body>
        <c-card-footer>
            <button cButton (click)="back()" size="sm" color="primary" variant="outline" class="auto me-1">Back</button>
            <button cButton (click)="next('aggreements')" size="sm" color="primary" variant="outline"
                class="auto me-1">next</button>
        </c-card-footer>
    </c-card>

</c-row>
<c-card *ngIf="counter === 8 " class="mb-3">
    <c-card-header>
        <h3>Summary</h3>
    </c-card-header>
    <c-card-body>
        <app-summary></app-summary>
    </c-card-body>
    <c-card-footer>
        <button cButton (click)="back()" size="sm" color="primary" variant="outline" class="auto me-1">Back</button>
        <button cButton size="sm" color="success" (click)="submit()" variant="outline" class="auto me-1">Submit
        </button>
    </c-card-footer>
</c-card>