<ngx-spinner></ngx-spinner>
<c-callout color="danger" *ngIf="isValidForm">
    Please fill in all the required fields before navigating to next step
</c-callout>
<div [formGroup]="form" class="mt-3">
    <div formGroupName="medical">
        <!-- Referring-->
        <c-card class="mb-2">
            <c-card-header>
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Did the Referring doctor refer you to us or
                        mention our clinics?<span class="text-danger">*</span></strong>
                </label>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col x="12">
                        <c-form-check class="mb-2">
                            <input cFormCheckInput type="radio" formControlName="isReferring" size="sm"
                                [value]="'yes'" />
                            <label cFormCheckLabel>Yes</label>
                        </c-form-check>
                        <c-form-check class="mb-4">
                            <input cFormCheckInput type="radio" formControlName="isReferring" size="sm"
                                [value]="'no'" />
                            <label cFormCheckLabel>No</label>
                        </c-form-check>
                    </c-col>
                    <c-col xs="12">
                        <div *ngIf="this.form.get('medical')?.get('isReferring')?.errors?.['required'] === true && 
                        (this.form.get('medical')?.get('isReferring')?.dirty ||this.form.get('medical')?.get('isReferring')?.touched)"
                            class="text-danger mx-1">
                            Referring doctor/Other is required
                        </div>
                    </c-col>
                </c-row>
                <span *ngIf="this.form.get('medical')?.get('isReferring')?.value ==='yes'">
                    <strong>Search By</strong>
                    <c-form-check [switch]="true" class="mb-3" sizing="lg">
                        <input cFormCheckInput type="checkbox" formControlName="providerSearch" />
                        <label cFormCheckLabel>
                            <span
                                [ngClass]="{ 'fw-bold':!this.form.get('medical')?.get('providerSearch')?.value}">NPI/</span>
                            <span
                                [ngClass]="{ 'fw-bold':this.form.get('medical')?.get('providerSearch')?.value}">Provider
                                Name</span>
                        </label>
                    </c-form-check>
                    <span *ngIf="!form.get('medical')?.get('providerSearch')?.value">
                        <c-row class="mb-2">
                            <c-col xs="8">
                                <input class="form-control mb-2" placeholder="Type Provider NPI"
                                    formControlName="providerSearchNPI" cFormControl sizing="sm">
                            </c-col>
                            <c-col xs="4">
                                <p><em>Type exact provider NPI</em></p>
                            </c-col>
                        </c-row>
                    </span>
                    <span *ngIf="form.get('medical')?.get('providerSearch')?.value">
                        <c-row class="mb-2">
                            <c-col xs="8">
                                <ng-autocomplete [itemTemplate]="itemTemplate" formControlName="providerSearchName"
                                    placeholder="Provider Name" [data]="(providers | async) ?? []"
                                    [notFoundTemplate]="notFoundTemplate" (selected)="pickProvider($event)"
                                    [searchKeyword]="''">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </c-col>
                            <c-col xs="4">
                                <p><em>Type provider first name <strong>OR</strong> first name <strong>Space</strong> last name</em></p>
                            </c-col>
                        </c-row>
                    </span>
                    <c-row>
                        <c-col xs="8">
                            <c-input-group sizing="sm">
                                <input cFormControl placeholder="NPI" maxlength="60" readonly
                                    formControlName="providerNPI">
                                <input cFormControl placeholder="ProviderName" maxlength="60" readonly
                                    formControlName="providerName">
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-col xs="12">
                        <div *ngIf="this.form.get('medical')?.get('providerNPI')?.errors?.['required'] === true && 
                        (this.form.get('medical')?.get('providerNPI')?.touched)" class="text-danger mx-1">
                            NPI is required
                        </div>
                        <c-col xs="12">
                            <div *ngIf="this.form.get('medical')?.get('providerName')?.errors?.['required'] === true && 
                (this.form.get('medical')?.get('providerName')?.dirty ||this.form.get('medical')?.get('providerName')?.touched)"
                                class="text-danger mx-1">
                                Provider Name is required
                            </div>
                        </c-col>
                    </c-col>
                </span>
                <span *ngIf="this.form.get('medical')?.get('isReferring')?.value ==='no'">
                    <c-row>
                        <c-col xs="12">
                            <label style="width: 90px;">Entity<span class="text-danger">*</span></label>
                        </c-col>
                        <c-col xs="12" class="mb-2">
                            <select cSelect sizing="sm" formControlName="referringEntity" [ngClass]="{'is-invalid': this.form.get('medical')?.get('referringEntity')?.invalid
                            && this.form.get('medical')?.get('referringEntity')?.touched}">
                                <option value="null" disabled>Select</option>
                                <option *ngFor="let entity of entityValues" [value]="entity.entityValue"
                                    [selected]="entity.selected">{{entity.entityName}}</option>
                            </select>
                        </c-col>
                        <c-col xs="12" *ngIf="this.form.get('medical')?.get('referringEntity')?.value ==='clinic_staff' ||
                        this.form.get('medical')?.get('referringEntity')?.value ==='word_Of_mouse' ||
                        this.form.get('medical')?.get('referringEntity')?.value ==='other'">
                            <input class="form-control" placeholder formControlName="referringEntityOther"
                                maxlength="60">
                        </c-col>
                        <c-col xs="12">
                            <div *ngIf="this.form.get('medical')?.get('referringEntity')?.errors?.['required'] === true && 
                (this.form.get('medical')?.get('referringEntity')?.dirty ||this.form.get('medical')?.get('referringEntity')?.touched)"
                                class="text-danger mx-1">
                                Referring Entity is required
                            </div>
                        </c-col>
                    </c-row>
                </span>
            </c-card-body>
        </c-card>
        <!-- Appointment Booking-->
        <c-card class="mb-2">
            <c-card-header>
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">How did you book your appointment? <span
                            class="text-danger">*</span>
                    </strong>
                </label>
            </c-card-header>
            <c-card-body>
                <c-input-group class="mb-1" sizing="sm">
                    <select cSelect formControlName="appointmentBooking" [ngClass]="{'is-invalid': this.form.get('medical')?.get('appointmentBooking')?.invalid
                    && this.form.get('medical')?.get('appointmentBooking')?.touched}">
                        <option value="null" disabled>Select Appointment Booking</option>
                        <option value="Website">Our website www.ptofthecity.com/Google</option>
                        <option value="Zocdoc">Zocdoc</option>
                        <option value="Calls">Phone Call/Text</option>
                        <option value="Walkin">Walk-in</option>
                    </select>
                </c-input-group>
                <div *ngIf="this.form.get('medical')?.get('appointmentBooking')?.errors?.['required'] === true && 
                (this.form.get('medical')?.get('appointmentBooking')?.dirty ||this.form.get('medical')?.get('appointmentBooking')?.touched)"
                    class="text-danger mx-1">
                    Appointment Booking is required
                </div>
            </c-card-body>
        </c-card>
        <!--Primary Doctor-->
        <c-card class="mb-2">
            <c-card-header>
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">What is your primary doctor name?
                        <span class="text-danger">*</span></strong>
                </label>
            </c-card-header>
            <c-card-body>
                <c-input-group class="mb-1" sizing="sm">
                    <input class="form-control" placeholder formControlName="isPrimaryDoctor" [ngClass]="{'is-invalid': this.form.get('medical')?.get('isPrimaryDoctor')?.invalid
                    && this.form.get('medical')?.get('isPrimaryDoctor')?.touched}" maxlength="60">
                </c-input-group>
                <div *ngIf="this.form.get('medical')?.get('isPrimaryDoctor')?.errors?.['required'] === true && 
                (this.form.get('medical')?.get('isPrimaryDoctor')?.dirty ||this.form.get('medical')?.get('isPrimaryDoctor')?.touched)"
                    class="text-danger mx-1">
                    Primary Doctor is required
                </div>
            </c-card-body>
        </c-card>
        <!--family doctor request-->
        <c-card>
            <c-card-header>
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Would you like your results sent to your family doctor?
                        <span class="text-danger">*</span></strong>
                </label>
            </c-card-header>
            <c-card-body>
                <c-form-check [switch]="true" class="mb-3" sizing="lg">
                    <input cFormCheckInput type="checkbox" formControlName="isFamilyDoctorRequest" />
                    <label cFormCheckLabel>
                        <span
                            [ngClass]="{ 'fw-bold':this.form.get('medical')?.get('isFamilyDoctorRequest')?.value}">Yes/</span>
                        <span
                            [ngClass]="{ 'fw-bold':!this.form.get('medical')?.get('isFamilyDoctorRequest')?.value }">No</span>
                    </label>
                </c-form-check>
            </c-card-body>
        </c-card>
        <!--received physical therapy -->
        <c-card>
            <c-card-header>
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Have you received physical therapy this year somewhere else?<span
                            class="text-danger">*</span></strong>
                </label>
            </c-card-header>
            <c-card-body>
                <c-form-check class="mb-2">
                    <input cFormCheckInput type="radio" formControlName="isReceivedPhysicalTherapy" size="sm"
                        [value]="'yes'" />
                    <label cFormCheckLabel>Yes</label>
                </c-form-check>
                <c-form-check class="mb-4">
                    <input cFormCheckInput type="radio" formControlName="isReceivedPhysicalTherapy" size="sm"
                        [value]="'no'" />
                    <label cFormCheckLabel>No</label>
                </c-form-check>
                <span *ngIf="this.form.get('medical')?.get('isReceivedPhysicalTherapy')?.value ==='yes'">
                    <c-row>
                        <c-col xs="12"><label style="width: 150px;">Where<span
                                    class="text-danger">*</span></label></c-col>
                        <c-col xs="12">
                            <input class="form-control" placeholder formControlName="PhysicalTherapyLocation"
                                cFormControl sizing="sm" [ngClass]="{'is-invalid': this.form.get('medical')?.get('PhysicalTherapyLocation')?.invalid
                                && this.form.get('medical')?.get('PhysicalTherapyLocation')?.touched}" maxlength="60">
                        </c-col>
                        <c-col xs="12">
                            <div *ngIf="this.form.get('medical')?.get('PhysicalTherapyLocation')?.errors?.['required'] === true && 
                (this.form.get('medical')?.get('PhysicalTherapyLocation')?.dirty ||this.form.get('medical')?.get('PhysicalTherapyLocation')?.touched)"
                                class="text-danger mx-1">
                                Location is required
                            </div>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col xs="12">
                            <label style="width: 150px;">How Many Visits<span class="text-danger">*</span></label>
                        </c-col>
                        <c-col xs="12">
                            <input class="form-control" placeholder formControlName="PhysicalTherapyNumber" numbers
                                onKeyDown="if(this.value.length==2 && event.keyCode!=8) return false;" cFormControl
                                sizing="sm" [ngClass]="{'is-invalid': this.form.get('medical')?.get('PhysicalTherapyNumber')?.invalid
                                && this.form.get('medical')?.get('PhysicalTherapyNumber')?.touched}">
                        </c-col>
                        <c-col xs="12">
                            <div *ngIf="this.form.get('medical')?.get('PhysicalTherapyNumber')?.errors?.['required'] === true && 
                (this.form.get('medical')?.get('PhysicalTherapyNumber')?.dirty || this.form.get('medical')?.get('PhysicalTherapyNumber')?.touched)"
                                class="text-danger mx-1">
                                Number of visits is required
                            </div>
                        </c-col>
                    </c-row>
                </span>
                <div *ngIf="this.form.get('medical')?.get('isReceivedPhysicalTherapy')?.errors?.['required'] === true && 
                (this.form.get('medical')?.get('isReceivedPhysicalTherapy')?.dirty ||this.form.get('medical')?.get('isReceivedPhysicalTherapy')?.touched)"
                    class="text-danger mx-1">
                    physical therapy treatment is required
                </div>
            </c-card-body>
        </c-card>
    </div>
    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton variant="outline" size="sm" (click)="next()">Next</button>
    </div>
</div>