<ngx-spinner></ngx-spinner>
<c-container fluid>
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h2>User Creation</h2>
                </c-card-header>
                <c-card-body>
                    <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
                    <form cForm #userCreateForm="ngForm" (ngSubmit)="create($event)" (change)="resetError()">
                        <c-row>
                            <c-col xs="12">
                                <c-card class="mb-3 ustify-content-center">
                                    <c-card-header>
                                        <h5>User Essential Inforamtion</h5>
                                    </c-card-header>
                                    <c-card-body>
                                        <div class="form-group">
                                            <small *ngIf="fname.invalid && (fname.dirty || fname.touched)"
                                                class="form-text text-danger">
                                                first name is required
                                            </small>
                                            <c-input-group class="mb-3">
                                                <input cFormControl id="fname" name="fname" sizing="sm"
                                                    placeholder="Enter First Name" required
                                                    [ngClass]="{'is-invalid': fname.invalid && (fname.dirty || fname.touched)}"
                                                    [(ngModel)]="form.firstName" #fname="ngModel" />
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <small *ngIf="lname.invalid && (lname.dirty || lname.touched)"
                                                class="form-text text-danger">
                                                first name is required
                                            </small>
                                            <c-input-group class="mb-3">
                                                <input cFormControl id="lname" name="lname" sizing="sm"
                                                    placeholder="Enter Last Name" required
                                                    [ngClass]="{'is-invalid': lname.invalid && (lname.dirty || lname.touched)}"
                                                    [(ngModel)]="form.lastName" #lname="ngModel" />
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <small *ngIf="usremail.invalid && (usremail.dirty || usremail.touched)"
                                                class="form-text text-danger">
                                                Email is required
                                            </small>
                                            <c-input-group class="mb-3">
                                                <input cFormControl id="usremail" name="usremail" sizing="sm"
                                                    placeholder="Enter Email" required
                                                    [ngClass]="{'is-invalid': usremail.invalid && (usremail.dirty || usremail.touched)}"
                                                    [(ngModel)]="form.email" #usremail="ngModel" />
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <small *ngIf="name.invalid && (name.dirty || name.touched)"
                                                class="form-text text-danger">
                                                user name is required
                                            </small>
                                            <c-input-group class="mb-3">
                                                <input autoComplete="name" cFormControl id="name" name="name"
                                                    sizing="sm" placeholder="Enter User Name" required
                                                    [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                                                    [(ngModel)]="form.name" #name="ngModel" />
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <small *ngIf="password.invalid && (password.dirty || password.touched)"
                                                    class="form-text text-danger">
                                                    user password is required
                                                </small>
                                                <c-input-group class="mb-3">
                                                    <input autoComplete="password" cFormControl id="password"
                                                        name="password" sizing="sm" type="password"
                                                        placeholder="Enter User Password" required
                                                        [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
                                                        [(ngModel)]="form.password" #password="ngModel" />
                                                </c-input-group>
                                            </div>
                                        </div>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                            <c-col xs="6">
                                <c-card>
                                    <c-card-header>
                                        <h5>User Address Inforamtion</h5>
                                    </c-card-header>
                                    <c-card-body>
                                        <div class="form-group">
                                            <small
                                                *ngIf="useraddress.invalid && (useraddress.dirty || useraddress.touched)"
                                                class="form-text text-danger">
                                                clinic Address is required
                                            </small>
                                            <c-input-group class="mb-3">
                                                <input autoComplete="clinicaddressvalue" cFormControl id="useraddress"
                                                    sizing="sm" name="useraddress" placeholder="Enter Address" required
                                                    [ngClass]="{'is-invalid': useraddress.invalid && (useraddress.dirty || useraddress.touched)}"
                                                    [(ngModel)]="form.useraddress" #useraddress="ngModel" />
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <c-input-group class="mb-3">
                                                <select cSelect sizing="sm" autoComplete="clinicaddressstate"
                                                    name="clinicaddressstate" sizing="sm" id="clinicaddressstate"
                                                    [(ngModel)]="form.useraddressstate" #useraddressstate="ngModel">
                                                    <option value="null">Select State</option>
                                                    <option *ngFor="let state of states" [value]="state">
                                                        {{state}}
                                                    </option>
                                                </select>
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <small
                                                *ngIf="useraddresscity.invalid && (useraddresscity.dirty || useraddresscity.touched)"
                                                class="form-text text-danger">
                                                User Address City is required
                                            </small>
                                            <c-input-group class="mb-3">
                                                <input autoComplete="useraddresscity" cFormControl id="useraddresscity"
                                                    sizing="sm" name="useraddresscity" placeholder="Enter City" required
                                                    [ngClass]="{'is-invalid': useraddresscity.invalid && (useraddresscity.dirty || useraddresscity.touched)}"
                                                    [(ngModel)]="form.useraddresscity" #useraddresscity="ngModel" />
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <small
                                                *ngIf="useraddresszipcode.invalid && (useraddresszipcode.dirty || useraddresszipcode.touched)"
                                                class="form-text text-danger">
                                                User Address Zip Code is required
                                            </small>
                                            <c-input-group class="mb-3">
                                                <input zipcode autoComplete="useraddresszipcode" cFormControl
                                                    id="useraddresszipcode" sizing="sm" name="useraddresszipcode"
                                                    placeholder="Enter Zip Code" required
                                                    [ngClass]="{'is-invalid': useraddresszipcode.invalid && (useraddresszipcode.dirty || useraddresszipcode.touched)}"
                                                    [(ngModel)]="form.useraddresszipcode"
                                                    #useraddresszipcode="ngModel" />
                                            </c-input-group>
                                        </div>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                            <c-col xs="6">
                                <c-card>
                                    <c-card-header>
                                        <h5>User Clinical Inforamtion</h5>
                                    </c-card-header>
                                    <c-card-body>
                                        <div class="form-group">
                                            <c-input-group class="mb-3">
                                                <select cSelect sizing="sm" autoComplete="userrole" name="userrole"
                                                    id="userrole" sizing="sm" [(ngModel)]="form.userrole"
                                                    #userrole="ngModel">
                                                    <option value="null">Select Role</option>
                                                    <option *ngFor="let role of userRoles" [value]="role.value">
                                                        {{role.name}}
                                                    </option>
                                                </select>
                                            </c-input-group>
                                        </div>
                                        <div class="form-group">
                                            <c-input-group class="mb-3">
                                                <c-multi-select *ngIf="returnClinics" multiple cSelect sizing="sm"
                                                    autoComplete="selectedClinics" name="selectedClinics"
                                                    id="selectedClinics" [(ngModel)]="form.selectedClinics"
                                                    #selectedClinics="ngModel">
                                                    <c-multi-select-option *ngFor="let clinic of returnClinics"
                                                        [value]="clinic.id?.toString()"
                                                        [selected]="clinic.selected">{{clinic.name}}</c-multi-select-option>
                                                </c-multi-select>
                                            </c-input-group>
                                        </div>
                                    </c-card-body>
                                </c-card>
                            </c-col>
                        </c-row>
                        <div class="text-center my-3 ">
                            <button cButton type="submit" style="width: 10%;" color="primary" variant="outline">
                                Create
                            </button>
                        </div>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>