<c-row class="justify-content-center">
    <div class="modal-dialog">
        <div class="card ">
            <div class="text-right cross"> <i class="fa fa-times"></i> </div>
            <div class="card-body text-center"> <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                <p style="font-family:Lucida Handwriting;font-size: 1.975em;">Congratulations</p>
                <p style="font-family:Lucida Handwriting;font-size: 0.875em;">you successfully finished your submission of your information!</p>
            </div>
        </div>
    </div>
</c-row>