<ngx-spinner></ngx-spinner>
<span *ngIf="!(noShow | async)">
  <c-row>
    <c-col xs="12" class="mb-2">
      <h1>Patient List</h1>
    </c-col>
  </c-row>
  <hr />
  <ng-container *ngIf="props$ | async as props" fluid="true">
    <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns"
      [items]="(usersData$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
      (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
      [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: true, responsive: true }"
      [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
      [tableProps]="{ hover: true, striped: true  }" [tableBodyProps]="{ align: 'middle' }"
      (sorterValueChange)="handleSorterValueChange($event)" header>
      <ng-template cTemplateId="tableDetails" let-item="item">
        <div [visible]="this.details_visible[item._id]===true" cCollapse>
          <!-- <p ><strong>Action has been taken at :</strong> {{item['patientId']}}</p> -->
          <table cTable hover>
            <thead>
              <tr>
                <th scope="col">Document Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Patient Intake</td>
                <td>
                  <button cButton variant="outline" (click)="exportPDF(item)" cTooltip="patient PDF File">
                    <svg cIcon name="cilCloudDownload"></svg>
                  </button>
                </td>
              </tr>
              <tr>
                <td *ngIf="!item['hasGuarantor']">Patient ID Document</td>
                <td *ngIf="item['hasGuarantor']">Guarantor Document</td>
                <td><button cButton variant="outline" (click)="exportPatientIDDocument(item,item.hasGuarantor)"
                    cTooltip="Id Document">
                    <svg cIcon name="cilCloudDownload"></svg>
                  </button></td>
              </tr>
              <tr *ngIf="!item['hasGuarantor']">
                <td>Patient Insurance Document</td>
                <td>
                  <button cButton variant="outline" (click)="exportPatientInsuranceDocument(item)"
                    *ngIf="!item.hasGuarantor" cTooltip="Insurance Document">
                    <svg cIcon name="cilCloudDownload"></svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
        <td>
          <ng-container [ngSwitch]="columnName">
            <!-- <ng-container *ngSwitchCase="'actions'" class="py-2">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button cButton variant="outline" (click)="exportPDF(item)" cTooltip="patient PDF File">
                  <svg cIcon name="cibAdobeAcrobatReader" class="text-danger"></svg>
                </button>
                <button cButton variant="outline" (click)="exportPatientIDDocument(item,item.hasGuarantor)" cTooltip="Id Document">
                  <svg cIcon name="cilUser"></svg>
                </button>
                <button cButton variant="outline" (click)="exportPatientInsuranceDocument(item)" *ngIf="!item.hasGuarantor"
                  cTooltip="Insurance Document" >
                  <svg cIcon name="cilPaperPlane"></svg>
                </button>
              </div>
            </ng-container> -->
            <ng-container *ngSwitchCase="'hasGuarantor'">
              <c-form-check>
                <input cFormCheckInput type="checkbox" size="sm" disabled [checked]="item[columnName]" />
              </c-form-check>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{tdContent}}
            </ng-container>
            <ng-container *ngSwitchCase="'createAt'" class="py-2">
                {{item.createdAt | date:"MM/dd/yyyy  hh:mm a"}}
            </ng-container>
            <ng-container *ngSwitchCase="'actions'" class="py-2">
              <button (click)="toggleDetails(item['_id'])" cButton color="primary" size="sm" variant="outline">
                Records
              </button>
            </ng-container>
          </ng-container>
        </td>
      </ng-template>
    </c-smart-table>
    <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
      (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
  </ng-container>
  <ng-container *ngIf="errorMessage$ | async as errorMessage">
    <hr>
    <c-alert>{{errorMessage}}</c-alert>
  </ng-container>
</span>

<span *ngIf="noShow | async">
  <div class="container error-container">
    <h1 class="display-4">Oops, something went wrong!</h1>
    <p class="lead">We apologize for the inconvenience.</p>
    <p>May be you don't assign to any clinic or your clinic has been deactivated. Please contact the administrator</p>
    <a class="btn btn-primary" (click)="logout()">Logout</a>
  </div>
</span>