<c-container fluid="true">
    <c-card>
        <c-card-body>
            <form [formGroup]="patientForm">
                <mat-stepper linear="true" #stepper [orientation]="stepperOrientation">
                    <mat-step [stepControl]="patientForm.get('basic')!" formGroupName="basic" completed="false">
                        <ng-template matStepLabel>Essential</ng-template>
                        <!-- <ng-template matStepLabel><svg cIcon name="cilUser" size="xxl"></svg></ng-template> -->
                        <patient-basic [form]="patientForm" [stepper]="patientStepper"></patient-basic>
                    </mat-step>
                    <mat-step completed="false" [stepControl]="patientForm.get('address')!" formGroupName="address">
                        <ng-template matStepLabel>Address</ng-template>
                        <patient-address [form]="patientForm" [stepper]="patientStepper"></patient-address>
                    </mat-step>
                    <mat-step completed="false" [stepControl]="patientForm.get('medical')!" formGroupName="medical">
                        <ng-template matStepLabel>Medical</ng-template>
                        <patient-medical [form]="patientForm" [stepper]="patientStepper"></patient-medical>
                    </mat-step>
                    <mat-step completed="false" [stepControl]="patientForm.get('medicalhistory')!"
                        formGroupName="medicalhistory">
                        <ng-template matStepLabel>Medical History</ng-template>
                        <patient-medical-history [form]="patientForm"
                            [stepper]="patientStepper"></patient-medical-history>
                    </mat-step>
                    <mat-step completed="false" [stepControl]="patientForm.get('insurance')!" formGroupName="insurance">
                        <ng-template matStepLabel>Insurance</ng-template>
                        <patient-insurance [form]="patientForm" [stepper]="patientStepper"></patient-insurance>
                    </mat-step>
                    <mat-step completed="false" [stepControl]="patientForm.get('document')!" formGroupName="document">
                        <ng-template matStepLabel>Documents</ng-template>
                        <patient-document [form]="patientForm" [stepper]="patientStepper"></patient-document>
                    </mat-step>
                    <mat-step completed="false" [stepControl]="patientForm.get('agreement')!" formGroupName="agreement">
                        <ng-template matStepLabel>Agreements</ng-template>
                        <patient-agreement [form]="patientForm" [stepper]="patientStepper"></patient-agreement>
                    </mat-step>
                    <mat-step completed="false" [stepControl]="patientForm.get('signature')!" formGroupName="signature">
                        <ng-template matStepLabel>Signature</ng-template>
                        <patient-signature [form]="patientForm" [stepper]="patientStepper"></patient-signature>
                    </mat-step>
                    <mat-step completed="false">
                        <ng-template matStepLabel>Summary</ng-template>
                        <patient-summary [form]="patientForm"></patient-summary>
                    </mat-step>
                </mat-stepper>
            </form>
        </c-card-body>
    </c-card>
</c-container>