<c-container fluid="true">
    <c-card>
        <c-card-body>
            <form [formGroup]="patientForm">
                <mat-stepper linear="true" #stepper [orientation]="stepperOrientation">
                    <mat-step [stepControl]="patientForm.get('basic')!" formGroupName="basic" completed="true">
                        <ng-template matStepLabel>Essential Information</ng-template>
                        <patient-basic [form]="patientForm"></patient-basic>
                    </mat-step>
                    <mat-step completed="true" [stepControl]="patientForm.get('address')!" formGroupName="address">
                        <ng-template matStepLabel>Address</ng-template>
                        <patient-address [form]="patientForm"></patient-address>
                    </mat-step>
                    <mat-step completed="true" [stepControl]="patientForm.get('medical')!" formGroupName="medical">
                        <ng-template matStepLabel>Medical Information</ng-template>
                        <patient-medical [form]="patientForm"></patient-medical>
                    </mat-step>
                    <mat-step completed="true" [stepControl]="patientForm.get('medicalhistory')!"
                        formGroupName="medicalhistory">
                        <ng-template matStepLabel>Medical History</ng-template>
                        <patient-medical-history [form]="patientForm"></patient-medical-history>
                    </mat-step>
                    <mat-step completed="true" [stepControl]="patientForm.get('insurance')!" formGroupName="insurance">
                        <ng-template matStepLabel>Insurance Information</ng-template>
                        <patient-insurance [form]="patientForm"></patient-insurance>
                    </mat-step>
                    <mat-step completed="false">
                        <ng-template matStepLabel>Agreements</ng-template>
                    </mat-step>
                    <mat-step completed="false">
                        <ng-template matStepLabel>Signature</ng-template>
                    </mat-step>
                </mat-stepper>
            </form>
        </c-card-body>
    </c-card>
</c-container>