<c-callout color="danger" *ngIf="isValidForm">
    <span class="text-danger fw-bold">Please fill in all the required fields before navigating to next step</span>
</c-callout>
<div [formGroup]="form" class="mt-3">
    <div formGroupName="medicalhistory">
        <!--Height -->
        <c-row>
            <c-col xl="12">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">What is your height ? <span class="text-danger">*</span></strong>
                </label>
            </c-col>
            <c-col xl="4">
                <c-row>
                    <c-col xs="12">
                        <input class="form-control col-xs-2 mx-2" placeholder formControlName="height" numbers
                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" [ngClass]="{'is-invalid': this.form.get('medicalhistory')?.get('height')?.invalid
                && this.form.get('medicalhistory')?.get('height')?.touched}">
                    </c-col>
                    <c-col xs=" 12">
                        <div *ngIf="this.form.get('medicalhistory')?.get('height')?.errors?.['required'] === true && 
                    (this.form.get('medicalhistory')?.get('height')?.dirty ||this.form.get('medicalhistory')?.get('height')?.touched)"
                            class="text-danger mx-1">
                            Height is required
                        </div>
                    </c-col>
                </c-row>
            </c-col>
            <c-col xl="2">
                <c-form-check [switch]="true" class="mb-3" sizing="lg">
                    <input cFormCheckInput type="checkbox" formControlName="heightUnit" />
                    <label cFormCheckLabel>
                        <span
                            [ngClass]="{ 'fw-bold':!this.form.get('medicalhistory')?.get('heightUnit')?.value}">CM</span>/<span
                            [ngClass]="{ 'fw-bold':this.form.get('medicalhistory')?.get('heightUnit')?.value }">Inch</span>
                    </label>
                </c-form-check>
            </c-col>
        </c-row>
        <!--Weight -->
        <c-row>
            <c-col xl="12">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">What is your weight ? <span class="text-danger">*</span></strong>
                </label>
            </c-col>
            <c-col xl="4">
                <c-row>
                    <c-col xs="12">
                        <input class="form-control col-xs-2 mx-2" placeholder formControlName="weight" numbers
                            onKeyDown="if(this.value.length==3 && event.keyCode!=8) return false;" [ngClass]="{'is-invalid': this.form.get('medicalhistory')?.get('weight')?.invalid
                            && this.form.get('medicalhistory')?.get('weight')?.touched}">
                    </c-col>
                    <c-col xs="12">
                        <div *ngIf="this.form.get('medicalhistory')?.get('weight')?.errors?.['required'] === true && 
                        (this.form.get('medicalhistory')?.get('weight')?.dirty ||this.form.get('medicalhistory')?.get('weight')?.touched)"
                            class="text-danger mx-1">
                            Weight is required
                        </div>
                    </c-col>
                </c-row>
            </c-col>
            <c-col xl="2">
                <c-form-check [switch]="true" class="mb-3" sizing="lg">
                    <input cFormCheckInput type="checkbox" formControlName="weightUnit" />
                    <label cFormCheckLabel>
                        <span
                            [ngClass]="{ 'fw-bold':!this.form.get('medicalhistory')?.get('weightUnit')?.value }">Pound</span>/<span
                            [ngClass]="{ 'fw-bold':this.form.get('medicalhistory')?.get('weightUnit')?.value }">Kg</span>
                    </label>
                </c-form-check>
            </c-col>
        </c-row>
        <!--primary reason for today’s evaluation -->
        <c-row class="mb-2">
            <c-col xl="12">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">What is your primary reason for today’s evaluation ?</strong>
                </label>
            </c-col>
            <c-col xl="12">
                <c-row>
                    <c-col xs="12">
                        <textarea cFormControl sizing="sm" formControlName="evaluationReason" maxlength="200" [ngClass]="{'is-invalid': this.form.get('medicalhistory')?.get('evaluationReason')?.invalid
                            && this.form.get('medicalhistory')?.get('evaluationReason')?.touched}" input-trimmer></textarea>
                    </c-col>
                    <c-col xs="12">
                        <div *ngIf="this.form.get('medicalhistory')?.get('evaluationReason')?.errors?.['required'] === true && 
                (this.form.get('medicalhistory')?.get('evaluationReason')?.dirty ||this.form.get('medicalhistory')?.get('evaluationReason')?.touched)"
                            class="text-danger mx-1">
                            Evaluation Reason Required
                        </div>
                    </c-col>
                </c-row>
            </c-col>
        </c-row>
        <!--prescription or non-prescription medication-->
        <c-row class="mb-2">
            <c-col xl="12">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Please list any prescription or non-prescription medication you
                        are taking</strong>
                </label>
            </c-col>
            <c-col xl="12">
                <c-row>
                    <c-col xs="12">
                        <textarea cFormControl sizing="sm" formControlName="prescriptionMedication" maxlength="200"
                            [ngClass]="{'is-invalid': this.form.get('medicalhistory')?.get('prescriptionMedication')?.invalid
                            && this.form.get('medicalhistory')?.get('prescriptionMedication')?.touched}" input-trimmer></textarea>
                    </c-col>
                    <c-col xs="12">
                        <div *ngIf="this.form.get('medicalhistory')?.get('prescriptionMedication')?.errors?.['required'] === true && 
                        (this.form.get('medicalhistory')?.get('prescriptionMedication')?.dirty ||this.form.get('medicalhistory')?.get('prescriptionMedication')?.touched)"
                            class="text-danger mx-1">
                            Prescription or Non-prescription Required
                        </div>
                    </c-col>
                </c-row>
            </c-col>
        </c-row>
        <!--patient condition -->
        <c-row class="mb-2">
            <c-col xl="12">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Please select each condition that you have been told you have (or
                        had)</strong>
                </label>
            </c-col>
            <c-col xl="12">
                <c-row>
                    <c-col xs="12">
                        <c-multi-select multiple formControlName="patientConditions" [ngClass]="{'is-invalid': this.form.get('medicalhistory')?.get('patientConditions')?.invalid
                        && this.form.get('medicalhistory')?.get('patientConditions')?.touched}">
                            <c-multi-select-option *ngFor="let option of patientConditions"
                                [value]="option.name">{{option.name}}</c-multi-select-option>
                        </c-multi-select>
                    </c-col>
                    <c-col xs="12">
                        <div *ngIf="this.form.get('medicalhistory')?.get('patientConditions')?.errors?.['required'] === true && 
                        (this.form.get('medicalhistory')?.get('patientConditions')?.dirty ||this.form.get('medicalhistory')?.get('patientConditions')?.touched)"
                            class="text-danger mx-1">
                            Conditions Required
                        </div>
                    </c-col>
                </c-row>
            </c-col>
        </c-row>
        <!--XRay-->
        <c-form-check [switch]="true" class="mb-3" sizing="lg">
            <input cFormCheckInput type="checkbox" formControlName="isXRay" />
            <label cFormCheckLabel>
                <span [ngClass]="{ 'fw-bold':true }">MRI, CT scan and X-Ray</span>
            </label>
        </c-form-check>
        <span *ngIf="form.get('medicalhistory')?.get('isXRay')?.value">
            <c-row>
                <c-col xs="12">
                    <c-multi-select multiple formControlName="isXRayValue" [ngClass]="{'is-invalid': this.form.get('medicalhistory')?.get('isXRayValue')?.invalid
                    && this.form.get('medicalhistory')?.get('isXRayValue')?.touched}">
                        <c-multi-select-option value="MRI">MRI</c-multi-select-option>
                        <c-multi-select-option value="CT">CT</c-multi-select-option>
                        <c-multi-select-option value="X-ray">X-ray</c-multi-select-option>
                    </c-multi-select>
                </c-col>
                <c-col xs="12">
                    <div *ngIf="this.form.get('medicalhistory')?.get('isXRayValue')?.errors?.['required'] === true && 
                    (this.form.get('medicalhistory')?.get('isXRayValue')?.dirty ||this.form.get('medicalhistory')?.get('isXRayValue')?.touched)"
                        class="text-danger mx-1">
                        XRay is Required
                    </div>
                </c-col>
            </c-row>
        </span>
        <!--Metal Implants -->
        <c-form-check [switch]="true" class="mb-3" sizing="lg">
            <input cFormCheckInput type="checkbox" formControlName="isMetalImplants" />
            <label cFormCheckLabel>
                <span [ngClass]="{ 'fw-bold':true }">MetalImplants</span>
            </label>
        </c-form-check>
        <!--Pacemaker -->
        <c-form-check [switch]="true" class="mb-3" sizing="lg">
            <input cFormCheckInput type="checkbox" formControlName="isPacemaker" />
            <label cFormCheckLabel>
                <span [ngClass]="{ 'fw-bold':true }">Pacemaker</span>
            </label>
        </c-form-check>
        <!--Please list any surgeries you may have had or any other conditions not listed above -->
        <c-row>
            <c-col xl="12">
                <label for="dsds" class="form-label">
                    <strong style="font-size: medium;">Please list any surgeries you may had or any other conditions not listed above</strong>
                </label>
            </c-col>
            <c-col xl="12">
                <c-row>
                    <c-col xs="12">
                        <textarea cFormControl sizing="sm" formControlName="surgeriesList" [ngClass]="{'is-invalid': this.form.get('medicalhistory')?.get('surgeriesList')?.invalid
                        && this.form.get('medicalhistory')?.get('surgeriesList')?.touched}" maxlength="200"></textarea>
                    </c-col>
                    <c-col xs="12">
                        <div *ngIf="this.form.get('medicalhistory')?.get('surgeriesList')?.errors?.['required'] === true && 
                (this.form.get('medicalhistory')?.get('surgeriesList')?.dirty ||this.form.get('medicalhistory')?.get('surgeriesList')?.touched)"
                            class="text-danger mx-1">
                            Surgeries is required
                        </div>
                    </c-col>

                </c-row>
            </c-col>
        </c-row>
    </div>
    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton variant="outline" size="sm" (click)="next()">Next</button>
    </div>
</div>