<c-card class="mb-2">
    <c-card-header>
        <h6>What is your Height </h6>
    </c-card-header>
    <c-card-body>
        <input cFormControl sizing="sm" [(ngModel)]="model.height" />
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>What is your Weight </h6>
    </c-card-header>
    <c-card-body>
        <input cFormControl sizing="sm" [(ngModel)]="model.weight" />
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>What is your primary reason for today’s evaluation </h6>
    </c-card-header>
    <c-card-body>
        <input cFormControl sizing="sm" [(ngModel)]="model.evaluationReason" />
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Please list any prescription or non-prescription medication you are taking? </h6>
    </c-card-header>
    <c-card-body>
        <textarea cFormControl sizing="sm" [(ngModel)]="model.medicationPrescription"></textarea>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Please select each condition that you have been told you have (or had)</h6>
    </c-card-header>
    <c-card-body>
        <c-multi-select multiple [(ngModel)]="model.patientCondition">
            <c-multi-select-option>Alzheimer's</c-multi-select-option>
            <c-multi-select-option>Cardiovascular Disease</c-multi-select-option>
            <c-multi-select-option>Cauda Equina Syndrome</c-multi-select-option>
            <c-multi-select-option>Cerebral Vascular Accident</c-multi-select-option>
            <c-multi-select-option>Current Infection</c-multi-select-option>
            <c-multi-select-option>Diabetes Mellitus Type 1</c-multi-select-option>
            <c-multi-select-option>Diabetes Mellitus Type 2</c-multi-select-option>
            <c-multi-select-option>Fibromyalgia</c-multi-select-option>
            <c-multi-select-option>Fracture</c-multi-select-option>
            <c-multi-select-option>History of Cancer</c-multi-select-option>
            <c-multi-select-option>Huntington's</c-multi-select-option>
            <c-multi-select-option>Immunosuppression</c-multi-select-option>
            <c-multi-select-option>Lupus</c-multi-select-option>
            <c-multi-select-option>Muscular Dystrophy</c-multi-select-option>
            <c-multi-select-option>Parkinson's</c-multi-select-option>
            <c-multi-select-option>Obesity</c-multi-select-option>
            <c-multi-select-option>Osteoarthritis</c-multi-select-option>
            <c-multi-select-option>Rheumatoid Arthritis</c-multi-select-option>
            <c-multi-select-option>Traumatic Brain Injury</c-multi-select-option>
          </c-multi-select>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>MRI, CT scan and X-Ray</h6>
    </c-card-header>
    <c-card-body>
        <c-col xs="12" class="mb-1">
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="scanningChange('yes')" value="Yes" name="scanning"
                    size="sm" />
                <label cFormCheckLabel>Yes</label>
            </c-form-check>
            <c-form-check>
                <input cFormCheckInput type="radio" (change)="scanningChange('no')" value="no" name="scanning"
                    size="sm" />
                <label cFormCheckLabel>No</label>
            </c-form-check>
        </c-col>
        <c-col xs="6">
            <c-card class="mb-3" *ngIf="isScanning === 'yes'">
                <select cSelect sizing="sm" style="line-height: 15px;" cFormControl [(ngModel)]="model.ScannigValue">
                    <option value="">Select</option>
                    <option value="MRI">MRI</option>
                    <option value="CT">CT scan</option>
                    <option value="X-ray">X-ray</option>
                </select> 
            </c-card>
        </c-col>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Metal Implants</h6>
    </c-card-header>
    <c-card-body>
        <c-form-check>
            <input cFormCheckInput type="radio" (change)="metalImplantsChange('yes')" value="Yes"
                name="metalimplants" size="sm" />
            <label cFormCheckLabel>Yes</label>
        </c-form-check>
        <c-form-check>
            <input cFormCheckInput type="radio" (change)="metalImplantsChange('no')" value="no"
                name="metalimplants" size="sm" />
            <label cFormCheckLabel>No</label>
        </c-form-check>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Pacemaker</h6>
    </c-card-header>
    <c-card-body>
        <c-form-check>
            <input cFormCheckInput type="radio" (change)="paceMakerChange('yes')" value="Yes"
                name="pacemaker" size="sm" />
            <label cFormCheckLabel>Yes</label>
        </c-form-check>
        <c-form-check>
            <input cFormCheckInput type="radio" (change)="paceMakerChange('no')" value="no"
                name="pacemaker" size="sm" />
            <label cFormCheckLabel>No</label>
        </c-form-check>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Please list any Surgeries you may have had or any other conditions not listed above</h6>
    </c-card-header>
    <c-card-body>
        <textarea cFormControl sizing="sm" [(ngModel)]="model.surgeriesList"></textarea>
    </c-card-body>
</c-card>