<c-card class="mb-2">
    <c-card-header>
        <h6>What is your Height </h6>
    </c-card-header>
    <c-card-body>
        <input cFormControl sizing="sm" />
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>What is your Weight </h6>
    </c-card-header>
    <c-card-body>
        <input cFormControl sizing="sm" />
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>What is your primary reason for today’s evaluation </h6>
    </c-card-header>
    <c-card-body>
        <input cFormControl sizing="sm" />
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Please list any prescription or non-prescription medication you are taking? </h6>
    </c-card-header>
    <c-card-body>
        <textarea cFormControl sizing="sm"></textarea>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Please select each condition that you have been told you have (or had)</h6>
    </c-card-header>
    <c-card-body>
        <select cSelect sizing="sm" style="line-height: 15px;" cFormControl>
            <option value="">Select</option>
            <option value="Google ads">Google ads</option>
            <option value="Zocdoc">Zocdoc</option>
            <option value="Social media">Social media</option>
            <option value="Flyers">Flyers</option>
            <option value="Mailed flyers">Mailed flyers</option>
            <option value="Friend/Family member">Friend/Family member</option>
            <option value="TV">TV</option>
            <option value="Ads screen">Ads screen</option>
            <option value="I've had PT here before">I've had PT here before</option>
            <option value="Direct mail">Direct mail</option>
            <option value="Website">Website</option>
            <option value="Other">Other</option>
        </select>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>MRI, CT scan and X-Ray</h6>
    </c-card-header>
    <c-card-body>
        <select cSelect sizing="sm" style="line-height: 15px;" cFormControl>
            <option value="">Select</option>
            <option value="Google ads">Google ads</option>
            <option value="Zocdoc">Zocdoc</option>
            <option value="Social media">Social media</option>
            <option value="Flyers">Flyers</option>
            <option value="Mailed flyers">Mailed flyers</option>
            <option value="Friend/Family member">Friend/Family member</option>
            <option value="TV">TV</option>
            <option value="Ads screen">Ads screen</option>
            <option value="I've had PT here before">I've had PT here before</option>
            <option value="Direct mail">Direct mail</option>
            <option value="Website">Website</option>
            <option value="Other">Other</option>
        </select>
    </c-card-body>
</c-card>
<c-card class="mb-2">
    <c-card-header>
        <h6>Please list any Surgeries you may have had or any other conditions not listed above</h6>
    </c-card-header>
    <c-card-body>
        <textarea cFormControl sizing="sm"></textarea>
    </c-card-body>
</c-card>