<c-accordion [alwaysOpen]="false" [flush]="false" class="shadow" >
    <c-accordion-item #item0="cAccordionItem" [visible]="false" >
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton cBgColor="info">
                <h5>Release of Information</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
            <c-row>
                <c-col xs="auto">
                    <div *ngIf="releaseInformationParagraph" [innerHTML]="getReleaseInformationParagraph()" cBgColor="info" class="accordion-body"
                        gradient="true">
                    </div>
                </c-col>
                <c-col xs="auto" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="release" type="checkbox" [(ngModel)]="patientAgreements!.acceptReleaseAgreements" />
                        <label cFormCheckLabel for="release">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>

        </ng-template>
    </c-accordion-item>
    <c-accordion-item #item1="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
                <h5>Financial Responsibility Agreement by Other than Patient’s Legal Representative</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
            <c-row>
                <c-col xs="auto">
                    <div [innerHTML]="getFinancialResponsibility()" cBgColor="info" class="accordion-body"
                        gradient="true">
                    </div>
                </c-col>
                <c-col xs="12" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="Financial" type="checkbox" [(ngModel)]="patientAgreements!.acceptFinancialResponsibilityAgreements"/>
                        <label cFormCheckLabel for="Financial">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>
        </ng-template>
    </c-accordion-item>
    <c-accordion-item #item2="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item2.toggleItem()" [collapsed]="!item2.visible" cAccordionButton>
                <h5>Financial Agreement</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
            <c-row>
                <c-col xs="auto">
                    <div class="accordion-body">
                        <span [innerHTML]="getFinancialAgreement()"></span>
                    </div>
                </c-col>
                <c-col xs="auto" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="fagreement" type="checkbox"
                            [(ngModel)]="patientAgreements!.acceptFinancialAgreementAgreements" />
                        <label cFormCheckLabel for="fagreement">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>
        </ng-template>
    </c-accordion-item>
    <c-accordion-item #item3="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item3.toggleItem()" [collapsed]="!item3.visible" cAccordionButton>
                <h5>Assignment of Insurance Beneﬁts</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">

            <c-row>
                <c-col xs="auto">
                    <div class="accordion-body">
                        <span [innerHTML]="getInsurance()"></span>
                    </div>
                </c-col>
                <c-col xs="auto" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="insurancebeneﬁts" type="checkbox" [(ngModel)]="patientAgreements!.acceptInsuranceAgreement" />
                        <label cFormCheckLabel for="insurancebeneﬁts">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>
        </ng-template>
    </c-accordion-item>
    <c-accordion-item #item4="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item4.toggleItem()" [collapsed]="!item4.visible" cAccordionButton>
                <h5>HIPAA Acknowledgement</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">

            <c-row>
                <c-col xs="auto">
                    <div class="accordion-body">
                        <span [innerHTML]="getHIPAAAcknowledgement()"></span>
                    </div>
                </c-col>
                <c-col xs="auto" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="HIPAA" type="checkbox" [(ngModel)]="patientAgreements!.acceptHIPAAAgreements" />
                        <label cFormCheckLabel for="HIPAA">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>
        </ng-template>
    </c-accordion-item>
    <c-accordion-item #item5="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item5.toggleItem()" [collapsed]="!item5.visible" cAccordionButton>
                <h5>Cupping Consent Form</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">

            <c-row>
                <c-col xs="auto">
                    <div class="accordion-body">
                        <span [innerHTML]="getCupping()"></span>
                    </div>
                </c-col>
                <c-col xs="auto" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="Cupping" type="checkbox" [(ngModel)]="patientAgreements!.acceptCuppingAgreements" />
                        <label cFormCheckLabel for="Cupping">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>
        </ng-template>
    </c-accordion-item>
    <c-accordion-item #item6="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item6.toggleItem()" [collapsed]="!item6.visible" cAccordionButton>
                <h5>Pelvic Examination & Treatment Consent Form</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">

            <c-row>
                <c-col xs="auto">
                    <div class="accordion-body">
                        <span [innerHTML]="getPelvic()"></span>
                    </div>
                </c-col>
                <c-col xs="auto" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="Pelvic" type="checkbox" [(ngModel)]="patientAgreements!.acceptPelvicAgreements" />
                        <label cFormCheckLabel for="Pelvic">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>
        </ng-template>
    </c-accordion-item>
    <c-accordion-item #item7="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
            <button (click)="item7.toggleItem()" [collapsed]="!item7.visible" cAccordionButton>
                <h5>Photo / Video Release Form</h5>
            </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">

            <c-row>
                <c-col xs="auto">
                    <div class="accordion-body">
                        <span [innerHTML]="getPhotoVideo()"></span>
                    </div>
                </c-col>
                <c-col xs="auto" class="ms-3">
                    <c-form-check>
                        <input cFormCheckInput id="photovideo" type="checkbox" [(ngModel)]="patientAgreements!.acceptPhotoVideoAgreements" />
                        <label cFormCheckLabel for="photovideo">I accept</label>
                    </c-form-check>
                </c-col>
            </c-row>
        </ng-template>
    </c-accordion-item>
</c-accordion>