<c-row>
    <form cForm [gutter]="{gy: 2, gx: 4}">
        <c-col xs="auto" class="mb-2">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="injury" class="form-label">Worker Related Injury/Auto-Accident</label>
                <select cSelect sizing="sm" name="injury" style="line-height: 15px;" cFormControl
                    [(ngModel)]="model.injuryType">
                    <option value="">Select</option>
                    <option value="workingInjury">Worker Related Injury</option>
                    <option value="autoAccident">Auto-Accident</option>
                </select>
            </div>
        </c-col>
        <!--workingInjury  -->
        <c-col xs="auto" class="mb-2" *ngIf="model.injuryType === 'workingInjury'">
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="autoAccidentDate" class="form-label">Accident Date</label>
                    <c-date-picker closeOnSelect size="sm" cFormControl [(ngModel)]="model.accidentDate"
                        name="autoAccidentDate" placeholder="Accident Date"></c-date-picker>
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="injury" class="form-label">Worker Status</label>
                    <select cSelect sizing="sm" name="injury" style="line-height: 15px;" cFormControl
                        [(ngModel)]="model.wrokerStatus">
                        <option value="">Select</option>
                        <option value="fulltime">Full-Time</option>
                        <option value="parttime">Part-Time</option>
                        <option value="notwork">Not-Work</option>
                    </select>
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="address" class="form-label">Address</label>
                    <input cFormControl [(ngModel)]="model.address" sizing="sm" name="address" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="fax" class="form-label">Fax</label>
                    <input cFormControl [(ngModel)]="model.fax" sizing="sm" name="fax" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="insuranceName" class="form-label">Insurance Name</label>
                    <input cFormControl [(ngModel)]="model.insuranceName" sizing="sm" name="insuranceName" />
                </div>
            </c-col>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="claimNumber" class="form-label">Claim Number/ WC Case Number</label>
                    <input cFormControl [(ngModel)]="model.claimNumber" sizing="sm" name="claimNumber" />
                </div>
            </c-col>
            <c-row>
                <c-col xs="6" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="adjusterInfoName" class="form-label">Adjuster Name</label>
                        <input cFormControl [(ngModel)]="model.adjusterInfoName" sizing="sm" name="adjusterInfoName" />
                    </div>
                </c-col>

                <c-col xs="6" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="adjusterInfoPhone" class="form-label">Adjuster Number</label>
                        <input cFormControl [(ngModel)]="model.adjusterInfoPhone" sizing="sm"
                            name="adjusterInfoPhone" />
                    </div>
                </c-col>
            </c-row>
            <c-row>
                <c-col xs="6" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="attorneyInfoName" class="form-label">Attorney Name</label>
                        <input cFormControl [(ngModel)]="model.attorneyInfoName" sizing="sm" name="attorneyInfoName" />
                    </div>
                </c-col>

                <c-col xs="6" class="mb-1">
                    <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                        <label for="attorneyInfoPhone" class="form-label">Attorney Phone</label>
                        <input cFormControl [(ngModel)]="model.attorneyInfoPhone" sizing="sm"
                            name="attorneyInfoPhone" />
                    </div>
                </c-col>
            </c-row>
            <c-col xs="auto" class="mb-1">
                <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                    <label for="casestatus" class="form-label">Case Status</label>
                    <select cSelect sizing="sm" name="caseStatus" style="line-height: 15px;" cFormControl
                        [(ngModel)]="model.wrokerStatus">
                        <option value="">Select</option>
                        <option value="active">active</option>
                        <option value="inactive">In-Active</option>
                    </select>
                </div>
            </c-col>
        </c-col>
        <!--autoAccident -->
        <c-col xs="auto" class="mb-2" *ngIf="model.injuryType === 'autoAccident'">
            <div [ngClass]="{ 'form-group required':isRequiredField('') }">
                <label for="autoAccidentDate" class="form-label">Accident Date</label>
                <c-date-picker closeOnSelect size="sm" cFormControl [(ngModel)]="model.accidentDate"
                    name="autoAccidentDate" placeholder="Accident Date"></c-date-picker>
            </div>
        </c-col>
    </form>
</c-row>