<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12">
        <h1>Insurance Company List</h1>
    </c-col>
    <c-col xs="12">
        <div style="float: right;">
            <button cButton color="primary" variant="outline" (click)="showCreateInsuranceCompany()">
                Create Insurance Company
            </button>
        </div>
    </c-col>
</c-row>
<hr />
<table cTable *ngIf="InsuranceCompanies">
    <thead cTableColor="light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">insurance Company</th>
            <th scope="col">Clinic</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let insuranceCompany of InsuranceCompanies; index as i;">
            <td>{{insuranceCompany.id}}</td>
            <td>{{insuranceCompany.name}}</td>
            <!-- <td>{{insuranceCompany.clinic.name}}</td> -->
            <td>
                <ul>
                    <li *ngFor="let clinic of insuranceCompany.clinics">{{clinic.name}}</li>
                </ul>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button cButton variant="outline" (click)="showEditInsuranceCompany(insuranceCompany.id)" size="sm">
                        <svg cIcon name="cilPen"></svg>
                    </button>
                </div>
            </td>
        </tr>

    </tbody>
</table>
<c-modal id="createinsuranceComany" [visible]="isCreateInsuranceCompany" size="xl" backdrop="static">
    <c-modal-header>
        <h3 cModalTitle>Clinic Creation</h3>
        <button (click)="toggleCreateInsuranceCompany()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <insurance-company-create (changeVisibility)="changeClinicVisibility($event)"
            *ngIf="isCreateInsuranceCompany"></insurance-company-create>
    </c-modal-body>
</c-modal>
<c-modal id="editinsuranceComany" [visible]="isEditInsuranceCompany" size="xl" backdrop="static">
    <c-modal-header>
        <h3 cModalTitle>Edit Insurance Company</h3>
        <button (click)="toggleEditInsuranceCompany()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <insurance-company-create (changeVisibility)="changeClinicVisibility($event)"
            *ngIf="isEditInsuranceCompany" [selectedCompany]="selectedInsuranceCompanyId"></insurance-company-create>
    </c-modal-body>
</c-modal>