<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12">
        <h1>User List</h1>
    </c-col>
    <c-col xs="12">
        <div style="float: right;">
            <button cButton color="primary" variant="outline" (click)="create()">
                Create Insurance Company
            </button>
        </div>
    </c-col>
</c-row>
<hr />
<table cTable *ngIf="InsuranceCompanies">
    <thead cTableColor="light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Use Name</th>
            <th scope="col">Clinic</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let insuranceCompany of InsuranceCompanies; index as i;">
            <td>{{insuranceCompany.id}}</td>
            <td>{{insuranceCompany.name}}</td>
            <td>{{insuranceCompany.clinic.name}}</td>
        </tr>

    </tbody>
</table>